[2019-06-07 06:40] slandelle commented on #1638
This use case is not supported atm. You’re suppose to close the client only once you’re done.
AHC doesn’t have a controller  which would keep track of flying requests. That’s something you’d have to implement on your side.

[2019-06-10 16:57] cxzhang2 commented on #1611
any updates on this?

[2019-06-10 17:28] Birthright50 commented on #1634
My code tracks the file position perfectly. If this were not the case, `EAGER` would not work either.
However, I decided to do another test with `LAZY` without tracking the position in the file. Just copy-paste.
[code]
In this case, the file also turns out to be broken. Why is that? As I looked in the debug mode, NettyResponse contains an array of 511 `HttpResponseBodyPart`'s which contain identic

[2019-06-10 19:07] slandelle commented on #1611
https://github.com/AsyncHttpClient/async-http-client/blob/master/client/src/main/java/org/asynchttpclient/AsyncHttpClientConfig.java#L238

[2019-06-10 19:07] #1611 closed

[2019-06-10 19:25] slandelle commented on #1634
LAZY strategy was a kind of "internal" I implemented for Gatling. It's not intended for using with `getResponseBodyAsByteBuffer`. It's intended for using in an `AsyncHandler` where you would cast parts into `LazyResponseBodyPart` so you can directly read from `io.netty.buffer.ByteBuf` without involving extra copies.

[2019-06-10 19:57] slandelle commented on #1634
example:

[code]

[2019-06-10 21:27] Birthright50 commented on #1634
In fact, it was the first option that I tried. It works. But there is one nuance. the write operation blocks the netty processing thread, so I decided to use `AsynchronousFileChannel` to free the netty thread.

But as I understand it, this client does not store all incoming data in `PooledSliceByteBuf`, but overwrites it when this data arrives (so as not to run out of memory in direct buffer), so

[2019-06-11 07:29] maseev opened #1640 "A typo in the README file"
From the [README.md](https://github.com/AsyncHttpClient/async-http-client#basics-1) file:

I'm not sure, but it looks like it should be ```Dsl``` and not ```Dls```.

[2019-06-11 09:26] slandelle commented on #1634
There are several things you must take care of:

* ByteBuf and ByteBuffer can share content and ByteBufs are **pooled**. So you can't simply pass the ByteBuffer to a different thread. You would either need to copy or learn how to work with ByteBuf (retain it so it's not offered back to the pool right away and release it properly once written so you don't suffer from memory leaks)
* properly comput

[2019-06-11 09:28] slandelle commented on #1640
Thanks for reporting

[2019-06-11 09:28] #1640 closed

[2019-06-11 19:56] slandelle commented on #1629
@aefimov ping

[2019-06-11 19:56] slandelle commented on #1628
@vrnsky ping

[2019-06-11 20:13] Birthright50 commented on #1634
Thank you for such an answer. Finally, this code I was able to earn.
Example without tracking with `ComplatableFuture`.
But still there is an incomprehensible point, in this case it is not clear what the difference between `copy`, `retain`, `retainedDuplicate` methods? Is there a difference in terms of efficiency?
If it doesn't bother you, could you answer this question, which I also asked on [sta

[2019-06-11 20:35] slandelle commented on #1634
You don't need this. A given AsyncHandler is always execute by the same Netty thread.

Just retain the byteBuf so it's not offered to the pool until you release in CompletionHandler. You don't need to copy.

I'm done with being bullied by the modos there.

[2019-06-12 18:11] BerkerD opened #1642 "Android Compatibility"
Does AHC support android?

[2019-06-12 18:35] slandelle commented on #1642
Please ask questions on our mailing list, not on our bugtracker.

[2019-06-12 18:35] #1642 closed

[2019-06-12 18:41] #1629 closed

[2019-06-13 18:44] prabhash1785 opened #1643 "Multi-part Request body is not kept after 307 Redirects"
In my current usage of async-http-client, I notice that multi-part request body is not kept after server sends a 307 redirect for HTTP Post. It does keep request body for non-multi part data though.

We are using Async Http Client lib Version: 2.2.0

Multi Part Request data is:
Part 1: jsonpart string
Part 2: byte array of mime data

Multi-part data is set as follows:
[code]

Looking at this code,

[2019-06-14 12:28] JesseBlackman commented on #399
`CompletableFuture<Response> future = httpClient
              .executeRequest(requestBuilder).toCompletableFuture();`
In case someone found this issue

[2019-06-15 05:28] NMcCloud opened #1644 "Make RemotelyClosedException Read Only or Throw New"
Can the RemotelyClosedException be made read only, or can a new one be thrown every time?  The issue is that the exception is basically static, but is maniplulatable, allowing the cause to be altered, suppressed exceptions to be added, and the stack trace modified, which has a fake stack trace to start with.  This goes for other similar exceptions like ChannelClosedException.  At the very least, u

[2019-06-17 07:56] unoexperto opened #1645 "javax.net.ssl.SSLException: SSLEngine closed already"
Hi @slandelle. I've been haunted by this exception for couple years at least and after preliminary investigation I have feeling that AHC uses single `SSLEngine` for all instances of `DefaultAsyncHttpClient` class. Which means as soon as some bad domain botches it http clients of entire app stop working.

Exception is thrown in `io.netty.handler.ssl.SslHandler.wrap(ChannelHandlerContext ctx, boolea

[2019-06-17 08:21] slandelle commented on #1645
No, it creates a new SSLEngine [for each connection](https://github.com/AsyncHttpClient/async-http-client/blob/4803ab464b620f7b14c56d6d2cda4bc99d518485/client/src/main/java/org/asynchttpclient/netty/channel/ChannelManager.java#L330).

1. Upgrade to latest JDK in case of a JDK nug
2. Upgrade to latest AHC is case it's a Netty bug
3. Switch to netty-tcnative, eg with BoringSSL static
4. Provide a wa

[2019-06-17 08:53] unoexperto commented on #1645
Just tried. Same outcome.

I'll try to create isolated example tomorrow. But I'm pretty sure it will occur quickly if you call https://eutils.ncbi.nlm.nih.gov/entrez/eutils/elink.fcgi?dbfrom=pubmed&id=30789216&cmd=neighbor_score&retmode=json couple thousand times. That's pretty much what my project does.

In the mean time could you please suggest workaround ? Why SSLEngine never recovers ? Can I f

[2019-06-17 16:37] slandelle commented on #1645
I suspect the problem has something to do with request retry.
It looks like your server frequently crashes connections (set max request retry to 0 and loop on the provided url with a 10ms pause and you’ll quickly see it).

[2019-06-17 20:42] slandelle commented on #1644
Contributions welcome.

RemotelyClosedException is used for flow control for retry. We don't want to copy native stacktrace for this. Netty does that a lot too.
And we reduce stacktrace because those exceptions are thrown from one single point in the code and we don't want to flood logging once they are thrown.

[2019-06-17 20:56] slandelle commented on #1645
I'm afraid you'll have to provide a reproducer. I can't hammer your url because of your rate limiter.

[2019-06-17 20:59] #1643 closed

[2019-06-17 20:59] slandelle commented on #1643
Thanks for reporting

[2019-06-18 01:31] unoexperto commented on #1645
@slandelle Here we go
https://github.com/unoexperto/bug-ahc-ssl-exception

It includes private API key (it's not my API btw) so rate limit is 10 calls / second.

I guess how quickly it reproduces is pretty random. First time it took me only couple minutes to get the exception. Now it's been running for 7 and is still going.

In my production it takes ~30-50 mins to get to faulty state.

[2019-06-18 03:17] NMcCloud commented on #1644
Can we make them unmodifiable then, using the special constructor that prevents stack trace modification and suppressed exceptions.

[2019-06-18 08:40] slandelle commented on #1644
Hardly, this constructor is on `Throwable` so we can't extend `IOException`.

I don't think what you'd like to do is feasible without losing the one level stacktrace we currently have in `ThrowableUtil#unknownStackTrace`.

[2019-06-18 09:13] slandelle commented on #1644
FYI, we do the exact same thing as Netty: https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/internal/ThrowableUtil.java#L30-L33.

[2019-06-18 12:26] #1645 closed

[2019-06-18 12:27] slandelle commented on #1645
@unoexperto I think I've fixed it. Is there any chance you can build from sources and try on your side?

[2019-06-19 03:49] unoexperto commented on #1645
@slandelle One test fail so I can't build it.

[code]

Is there maven command besides `package` I can use to build jars ?

[2019-06-19 04:34] slandelle commented on #1645
mvn package -Dmaven.test.skip

[2019-06-19 18:16] patpatpat123 opened #1646 "Keystore and truststore integration impossible"
Hello,

First of all, a big thanks to this project.
It is a very mature and nice alternative to rest template.

There is an issue thought, while it is relatively easy to use rest template to integrate keystore and truststore,
[code]
Is it something possible to do with this async client?
There is not much documentation neither on this topic.

Thank you

[2019-06-19 18:47] slandelle commented on #1646
https://github.com/AsyncHttpClient/async-http-client/blob/master/client/src/main/java/org/asynchttpclient/DefaultAsyncHttpClientConfig.java#L1072

Next time, please use the mailing list for questions, not the bugtracker.

[2019-06-19 18:47] #1646 closed

[2019-06-19 22:55] NMcCloudTower commented on #1644
Okay.  Will figure out which exceptions these are and prevent their modification another way.

[2019-06-24 19:05] bahui80 opened #1647 "Set ChannelManager.AHC_WS_HANDLER to run in another EventExecutorGroup"
Hi,

We are using AsyncHttpClient library for WebSocket transport. We were having an issue and we needed the `ChannelManager.AHC_WS_HANDLER` to run in another thread since we had some of the incoming requests taking too long.
We still wanted to be able to send outgoing requests via the WebSocket even if the incoming pipeline was busy.

One solution we found to this was the following:
[code]

I don

[2019-06-24 19:11] slandelle commented on #1647
I don't get it. Do you mean you perform blocking operations in the WebSocket handler? If so, your issue is here and you should delegate such operation to another thread pool.

[2019-06-24 19:27] bahui80 commented on #1647
Yes, we have a blocking operation and we can't change that. We are depending on some business logic that works like this.

Anyways, reading some questions about Netty on Internet, some people recommend using a different `EventExecutorGroup` for inbound and outbound Channels.

Since the `ChannelManager.AHC_WS_HANDLER` is initialized in the ChannelManager class, I would like to be initialized with a

[2019-06-24 20:05] slandelle commented on #1647
You must then offload this blocking operation to a dedicated threadpool instead of performing it directly in the handler.

[2019-06-24 20:05] #1647 closed

[2019-06-25 22:42] VenkataKotra commented on #733
@kstokoz, @slandelle - I'm wondering if there is a complete solution to this problem. I see a bunch of 503s from the partial solution, until all connections are used and removed.

[2019-06-26 05:40] slandelle commented on #733
Implement your own retry on 503.
Or better, report a bug against AWS.

[2019-06-29 08:10] unoexperto commented on #1645
7 days of running in production - no issues. Thanks!

[2019-06-29 08:13] slandelle commented on #1645
Great news, thanks for your feedback!

[2019-06-30 18:33] hejcz opened #1648 "Hanging thread even though async client is closed"
Hello,

Following application never ends due to:

[code]

[code]

It was run on Java 11.

[2019-06-30 18:43] slandelle commented on #1648
AHC version?

[2019-06-30 22:56] hejcz commented on #1648
2.2.0 issue does not exist in 2.10.1. Thank you!

[2019-06-30 22:56] #1648 closed

[2019-07-01 05:18] Rachehan opened #1649 "Send a JSON"
I am trying to use AsyncHttpClient to make a JSON request. I tried to use several implementations, including setBody and addBodyPart, and many more. The result is always the same.

It should send a string like this converted to bytes:

But somehow it converts the request into this:

So the server gets a wrong request and responses with an error meessage:

Here is one of my code implementations:
[c

[2019-07-01 05:43] slandelle commented on #1649
Parts are for multipart encoding. You must set a full body.

Next time, please use the mailing list for questions, this is a bug tracker.

[2019-07-01 05:43] #1649 closed

[2019-07-05 13:16] rnorth opened #1650 "Support for DnsAddressResolverGroup to allow Netty's InflightNameResolver"
For background, we attempted to use asynchttpclient with a Netty async DNS resolver some time back, but managed to quite severely DoS our cluster DNS servers. It emerged that concurrent DNS lookups for the same host were not being 'coalesced'; the effect was that any DNS cache miss would cause our services to hit DNS 1:1 with every outgoing HTTP call.

We were building a common Netty `DnsNameResol

[2019-07-05 13:23] slandelle commented on #1650
Looks like the way to go.
Contributions welcome :)

[2019-07-05 19:21] nikita-mospan opened #1651 "Program hangs when prepareGet.execute.toCompletableFuture is used inside thenCompose call"
Hi.

Could you please explain whether the following behavior is expected: if I try to compose some CompletableFuture (in the code it is called start) with asynchronous http request that is wrapped into CompletableFuture via toCompletableFuture() API then the program hangs and I didn't manage to find the root cause. Example code is below:
[code]

If I do not use composition of futures, i.e. comment

[2019-07-06 12:25] slandelle commented on #1651
Your example is broken. You never complete `start` so `thenCompose` is never called and `join` blocks forever.
You have to call `start.complete(null);` just before `future.join();`.

[2019-07-06 12:25] #1651 closed

[2019-07-06 16:41] nikita-mospan commented on #1651
Yes, my bad, sorry.

Thank you for paying attention.

[2019-07-08 10:55] slandelle commented on #1628
No activity for a very long time. Closing for now.

[2019-07-08 10:55] #1628 closed

[2019-07-10 01:02] wtog opened #1652 "replace TimeoutException with RequestTimeoutException or ReadTimeoutException"
Both **Request timeout** and **Read timeout** throw the same java.util.concurrent.TimeoutException
`java.util.concurrent.TimeoutException: Request timeout to www.baidu.com after 3000 ms`

it`s not convenient to catch the real exception

i suggest to throw **AhcRequestTimeoutException And AhcReadTimeoutException** instead of logging the timeout message in RequestTimeoutTimerTask.java or ReadTimeout

[2019-07-10 11:44] carlspring opened #1653 "Add property to disable SPNEGO"
# Task Description

In our company we've had to fork the [sonar-stash](https://github.com/AmadeusITGroup/sonar-stash) project and make it support SPNEGO using our in-house library which handles the SPNEGO/Kerberos authentication. We forked the [sonar-stash](https://github.com/AmadeusITGroup/sonar-stash) project in order to make it support SPNEGO/Kerberos via our own in-house library. The [sonar-st

[2019-07-10 11:51] slandelle commented on #1653
Why not open source this library? Why not contribute back to sonar-stash?

[2019-07-10 11:59] carlspring commented on #1653
I doubt it would be possible to opensource this library. However, we will try to contribute the fixes for the `sonar-stash` plugin back to their project, despite the fact that it's reached an end-of-life, [as it seems](https://github.com/AmadeusITGroup/sonar-stash/issues/202).

[2019-07-10 12:00] carlspring commented on #1653
Would you like us to open a pull request for the `async-http-client` with the proposed change?

[2019-07-10 12:21] slandelle commented on #1653
Why not? How specific is it to your organization? Wouldn't it be fair to contribute back as your organization seems to be using a lot of open source?

[2019-07-10 15:12] carlspring commented on #1653
Yes, this is true and I while I may be pro-opensource, as I said, I work for a large organization where such changes, (if at all approved by all stakeholders and the legal department), will take a lot of time. I don't think that opensourcing the library is something that's currently planned, or even possible. (It's also handled by another team, not under our jurisdiction).

We are, however, intere

[2019-07-17 13:27] RestfulBlue commented on #1096
i also hope what support for http/2 multiplexing will be added 👍

[2019-07-17 14:01] slandelle commented on #1096
For sure, I'll never have the bandwidth on my own personal time to work on this.
Feel free to contribute.

[2019-07-25 04:06] paulfemiak opened #1654 "Problems with ° character JSON upload"
One of the text fields inside of my JSON upload payload contains a ° character. This triggers 500 error response scenario.

[2019-07-25 06:09] slandelle commented on #1654
I see you're into mobile apps, so I'm pretty sure you're not using this project that doesn't support Android but this one: https://loopj.com/android-async-http/. If I'm correct, please close this issue and report to the proper project.
Otherwise, please provide a sample to reproduce

[2019-07-25 06:13] paulfemiak commented on #1654
Sorry about that and thank you for pointing me in the right direction @slandelle.

[2019-07-25 06:13] #1654 closed

[2019-07-29 10:13] GautamaBuddha opened #1655 "Basic Auth doesn't work"
DefaultHeaders class calculates same index for `Authorization` and `accept` headers.
NettyRequestFactory on the first step adds `Authorization` header after that is set `accept` to the same position in `entries` array.

![image](https://user-images.githubusercontent.com/1217820/62040348-1c8a1180-b202-11e9-9e17-2fc8e3d9c524.png)
![image](https://user-images.githubusercontent.com/1217820/62040391-39

[2019-07-29 11:08] slandelle commented on #1655
This class is from netty.
If you think you’ve found a bug, please report there, and provide a test case to reproduce and the version of netty you’re using.

[2019-07-29 11:08] #1655 closed

[2019-08-05 10:48] Casper133 opened #1657 "Max websocket frame length exception"
I need to handle large websocket frames, but I get an exception:
[code]

How can I solve this problem?

[2019-08-05 21:08] slandelle commented on #1657
`AsyncHttpClientConfig#getWebSocketMaxFrameSize`

Next time, please use the mailing list for questions.

[2019-08-05 21:08] #1657 closed

[2019-08-08 14:08] myakovets opened #1658 "AsyncHttpClient creates too many AsyncHttpClient-timer threads"
I am using AsyncHttpClient 2.3.0 and Default configuration.

I've noticed that AHC created two types of threads (from the thread dump):

1)

[code]
2)
[code]
I've expected that AsyncHttpClient uses a few threads under the hood. But after a few days of running, AsyncHttpClient creates ~500 of AsyncHttpClient-timer-xxx-x threads and a few AsyncHttpClient-x-x. It's called not very intensively, probab

[2019-08-08 14:23] slandelle commented on #1658
You’re most likely creating one AHC instance per request, which is very bad, and not closing them, which is even worse.

[2019-08-08 14:23] #1658 closed

[2019-08-08 14:43] myakovets commented on #1658
Hmm... does not seem so. It's a field of a Singleton.

Strange that I cannot reproduce it's locally. I have an opposite picture: only one AsyncHttpClient-timer and new AsyncHttpClient-x-x thread per call (if calls one after another new thread is not created).

What is the difference between AsyncHttpClient-x-x and AsyncHttpClient-timer treads? Can Connection Pool config help?

[2019-08-08 19:39] prayagupd commented on #1431
In newer api (2.4.4) config comes from `Dsl.*`, https://github.com/AsyncHttpClient/async-http-client/wiki/Connection-pooling was helpful

[code]

[2019-08-08 20:12] slandelle commented on #1658
AsyncHttpClient-x-x: I/O (twice number of cores)
AsyncHttpClient-timer: timer for timeouts (only one)

Any different number means you’re creating multiple clients.

[2019-08-09 03:03] LaughXP opened #1659 "chunked response body doesn't set KeepAlive"
[code]

`!future.isKeepAlive` is always true! why?
client version: 2.4.9
jdk : 1.8

[2019-08-09 05:40] slandelle commented on #1659
Could you please provide a reproducer?

[2019-08-09 06:08] LaughXP commented on #1659
Here is the test code
[code]

[2019-08-09 06:09] LaughXP commented on #1659
Thanks! Test code at the next lcomment

[2019-08-09 06:10] LaughXP commented on #1659
Here is the test code
[code]

[2019-08-09 06:17] LaughXP commented on #1659
when last chunk come, the `!future.isKeepAlive()` is always `true`, then the channel would be closed.
Why not `keepalive` assignment before judgment? why this channel that handle chunk response always be closed?

[2019-08-09 06:26] slandelle commented on #1659
Works as expected on my side.
Most likely a bug that's been fixed for a long time but you didn't upgrade. Latest version is 2.10.1.

[2019-08-09 06:26] #1659 closed

[2019-08-09 06:39] LaughXP commented on #1659
Thanks!

[2019-08-09 13:10] rossabaker commented on #1627
I can see this error the http4s-async-http-client binding under load.  `complete`  is not reliably called, which causes `removeFromPipeline` to be missed.

I made it run clean by removing the `NAME_IN_CHANNEL_PIPELINE` argument in `NettyReactiveStreamsBody.write`, and verified that the results are uncorrupted.  But this leaves cruft in the pipeline, so it's not a good solution.

[2019-08-12 02:46] rossabaker commented on #1627
Reading your issue again, the focus is on the `Connection reset by peer`.  I've been chasing (and reliably reproducing) the `request-body-streamer` error.  I'll open a new issue for that.  Sorry for the pollution.

[2019-08-12 03:09] rossabaker opened #1660 "Duplicate handler name: request-body-streamer"
Discussed in #1627, but spinning off as it's a separate issue.

Under load, when using the `NettyReactiveStreamsBody`, I can reliably reproduce the following error:

[code]

I have a [Scala reproduction with http4s](https://github.com/rossabaker/http4s-bugs/blob/issue-2779).  It can be seen with `sbt run`.

The problem is that that AHC offers the channel back to the pool manager as soon as the las

[2019-08-12 08:01] ehiggs commented on #1627
No bother at all. Glad that someone else is able to see this!

[2019-08-12 14:10] slandelle commented on #1627
I'm able to reproduce. I slightly changed your test:

[code]

I sometimes get non sensical errors, both with Java 8 and Java 11:

[code]

No idea what to make of those. I suspect there's not much to be done in AHC.

[2019-08-12 14:12] slandelle commented on #1660
Honestly, reactive streams support was contributed by people from Lightbend, but there's been nobody on the line since then.
Please contribute if you can.

[2019-08-12 14:33] rossabaker commented on #1660
My solution has revealed a new problem:

[code]

I'm afraid that my fix is preventing it from writing the `LastHttpContent.EMPTY_LAST_CONTENT` in the subscriber's `complete()` handler.  I think we are recycling the channel based on receiving the last chunk of response, but also need to await the end of the request.  Does that sound plausible?

[2019-08-21 13:11] ehiggs commented on #1627
That usually means there is a race condition.

[2019-08-21 22:12] cosmir17 opened #1661 "Granular request timeout exception detail (I need the full path of the url)"
I use Akka actor. I fire http requests to different endpoints (using your framework).

When a request times out, it just shows, www.domain.com
it doens't show the full path so that I don't know which request got timed out.

Is there way to make request timeout exception more granular to include the full path? (java.util.concurrent.TimeoutException).

P.S. I also want 'java.net.ConnectException' to

[2019-08-22 05:40] slandelle commented on #1661
Please use the community mailing list (see README) for questions, not the bug tracker.

[2019-08-22 05:40] #1661 closed

[2019-08-22 06:14] cosmir17 commented on #1661
@slandelle Hi, this can be a new feature(setting option) if it's not already threre.
Anyway, did you mean the Google group when you said 'the community mailing list'?

[2019-08-29 12:12] carlspring commented on #1653
@slandelle ,

Would you be happy with us providing a pull request for the above?

[2019-09-05 10:11] Chaiavi opened #1663 "Failed Handshake ?"
While trying to fetch a page from [PcGamer](https://www.pcgamer.com/uk/best-pc-games/)

The client failed with this exception
`java.util.concurrent.ExecutionException: java.net.ConnectException: Received fatal alert: handshake_failure

	at java.util.concurrent.CompletableFuture.reportGet(CompletableFuture.java:357)
	at java.util.concurrent.CompletableFuture.get(CompletableFuture.java:1895)
	at org

[2019-09-05 11:08] slandelle commented on #1663
Works for me with master branch.

[code]

Which version do you use?

[2019-09-05 11:23] slandelle commented on #1663
FYI, I've just released 2.10.2 .

[2019-09-05 12:02] Chaiavi commented on #1663
I used 2.10.1

Will try now with newest version

On Thu, Sep 5, 2019 at 2:23 PM Stephane Landelle <notifications@github.com>
wrote:

[2019-09-05 12:04] Chaiavi commented on #1663
It is not in Maven repo yet

[2019-09-05 12:25] Chaiavi commented on #1663
I am using now latest (2.10.2) and it still fails

[2019-09-05 12:25] Chaiavi commented on #1663
I am using Java8

Maybe you used a later version?

[2019-09-05 12:53] slandelle commented on #1663
[code]

If you're running an old JDK8, you could be missing modern ciphers.

[2019-09-05 21:42] Chaiavi commented on #1663
I don't really understand it, but when I tried using UniRest fetcher it worked although AHC failed.

But when I updated the Java version to v8-Latest it worked on all fetchers - so thank you (It might be worth checking the trick UniRest fetcher uses which allowed it to work with old Java versions, but that is just an uneducated observation).

Thank you for everything, it works now like a charm!

A

[2019-09-05 22:09] #1663 closed

[2019-09-16 04:13] house0128 commented on #1608
I meet same issue ,using jdk 11.0.2.@nmiles-bw @ykotikov did you finally solve this problem by upgrading the JDK to 11.0.3?

[2019-09-28 05:03] astei commented on #1650
I might be interested in doing this. I am [currently adapting to `DnsAddressResolverGroup` using an ugly hack](https://github.com/VelocityPowered/Velocity/blob/dev/1.1.0/proxy/src/main/java/com/velocitypowered/proxy/network/netty/DnsAddressResolverGroupNameResolverAdapter.java), so this interests me a lot.

[2019-09-28 11:08] #1575 closed

[2019-09-28 12:04] slandelle commented on #1650
@astei Sure, keep'em coming :)

[2019-09-30 17:06] TidDl3R opened #1666 "Vulnerability"
I have found some vulnerability in the latest release. Where should I report it?

[2019-09-30 18:09] slandelle commented on #1666
Please shoot an email to slandelle at gatling dot io.

[2019-10-01 04:12] TidDl3R commented on #1666
Hello, I've already sent an email. I spent a lot of time writing reports, so whether you accept it or not, I hope you can reply to me

[2019-10-09 12:10] #1666 closed

[2019-10-12 17:34] M1178475702 opened #1668 "How can i disable the log default?"
When i make a request, there are always a lot of logs and even a request message printed when the request is complete.
I want to disable those logs, are there any methods? Any help will be appreciate!

[2019-10-12 17:45] M1178475702 commented on #1668
I want to disable the log as the following:
![0Q}~01IIL}BU88C_ Y )MNR](https://user-images.githubusercontent.com/42426867/66705570-0e588580-ed5b-11e9-8cad-54c0b10dd536.png)
![XW(KE`(WX _W83`}L$}TIOP](https://user-images.githubusercontent.com/42426867/66705571-0ef11c00-ed5b-11e9-9fc4-4cfd0646e7d8.png)

[2019-10-12 18:50] slandelle commented on #1668
You have to provide a slf4j backend such as logback in the classpath and configure it properly.

[2019-10-12 18:50] #1668 closed

[2019-10-12 18:50] slandelle commented on #1668
Next time, please use the Google Group for questions, this is a bug tracker.

[2019-10-19 15:41] Pankangtian opened #1670 "can support the unix domain socket protocol?"
Hello, dear open source contributors! When can you support the Unix domain socket protocol? I have simply verified the feasibility of this function through intrusive modification, and the workload is within three hundred lines of code; but limited by the company's internal open source process, I can not provide you with the source code.

[2019-10-19 15:43] Pankangtian commented on #1670
The underlying implementation of async-http-client (netty) currently supports the unix domian socket protocol.

[2019-10-19 15:47] Pankangtian commented on #1670
The code modification is mainly to modify the IntSocketAddress to SocketAddress, and create a connection method by selecting the different netty in the connection establishment type by IntSocketAddress or UnixDomainSocket.

[2019-10-19 16:31] Pankangtian commented on #1670
NettyRequestSender.java  ==》   resolveAddresses

[2019-10-21 10:57] slandelle commented on #1670
Contributions welcome. That's not something I expect to work on any time soon.

[2019-10-28 10:56] nteofilovic opened #1671 "Java Heap Space error"
Hi,

when 512MB is set as maximum Java heap size to our module and when we try to download the file of 300MB using **AsyncCompletionHandlerBase#onCompleted(Response response)** method we receive the _"java.lang.OutOfMemoryException : Java heap space"_ on the method invocation:

**response.getResponseBodyAsStream();**

In the source code in the method **Response#getResponseBodyAsByteBuffer()**
we c

[2019-10-28 11:15] #1671 closed

[2019-11-06 08:19] kringol opened #1672 "Client re-building a request prevents usage of custom requests"
Currently the client is creating a new RequestBuilder(prototype) on some cases like
- When there are cookies on the storage for that uri
- When the range offset is not 0

Problem is we are using some custom filters that rely on us using an extended implementation of Request.java which adds some extra settings which the filter consumes. Normally it works fine, and the filter checks if the request i

[2019-11-06 23:35] slandelle commented on #1672
Sure, please do send a PR.

[2019-11-07 02:29] kringol commented on #1672
Thanks @slandelle, I've submitted a PR and left some comments for you there as well

[2019-11-08 00:19] #1672 closed

[2019-11-12 16:51] vlad4800 opened #1674 "builder setLocalAddress does not work in a multiple network interfaces environment"
I have a device with two network interfaces: eth0 and wlan0. The interfaces receive an IP via DHCP from different pools. Thus the eth0 interface has something like: 10.0.x.x and wlan0 has 192.168.x.x

I want to bind all HTTP requests fromAHC to go via the wlan0 interface so I used:

[code]
`interfaceIp` is the wlan0 InetAddress.

The problem is that all requests fail(connect timeout).

There is a

[2019-11-12 18:22] slandelle commented on #1674
`setLocalAddress(InetAddress)` boils down to calling `java.nio.channels.SocketChannel#bind(SocketAddress)`.

So I'm sorry, but if you really have a bug, it's in the JRE.
Closing as there's really nothing we can do here.

[2019-11-12 18:22] #1674 closed

[2019-11-18 21:04] dwalend commented on #1660
I'm seeing a similar stack trace while using http4s with the  - very frequently on one of six test networks (maybe 1 in 10), but rarely everywhere else - including production networks (maybe 1 in 10000 - hard to measure), deep in the bowls of Netty, when using http4s' AsyncHttpClient client :
[code]

I have only observed incidents of the problem when sending a request with a body, just after sendi

[2019-11-18 21:24] dwalend commented on #1660
There's a hint of something similar here: https://github.com/netty/netty/issues/7993 that I was able to follow to https://github.com/reactor/reactor-netty/commit/13fbcdac6b8cef66272eac691a63db68102b3e43 , but I'm a bit out of my depth here.

[2019-11-20 10:48] tomerz90 opened #1676 "Tuning params not affecting performance"
I have a use case where Im downloading 21GB in about 1400 files.
I have 40 IO threads (tried with 16 also with same results) and Im downloading 60 files simultaneously.
Im running on 16 CPUs and its on 100% the entire download.
I tried playing around with all kinds of params, probably everything you can set in the config and it seemed to have no effect on performance, good or bad.
Is there a confi

[2019-11-20 10:56] slandelle commented on #1676
No idea what you do.
This client was used in [Gatling](https://gatling.io/) until version 3, so it's really intended for performance.

[2019-11-20 10:56] #1676 closed

[2019-11-21 13:25] tomerz90 opened #1677 "Trying to use OpenSSL throws NoClassDefFoundError"
I set `useOpenSsl` to true in the config and when trying to run I get:
[code]
I tried adding the `netty-tcnative` dependency but there seems to be a version mismatch since I get a different error and I dont know which version would work

[2019-11-21 13:34] slandelle commented on #1677
`netty-tcnative` is only a parent jar.

Import `netty-tcnative-boringssl-static` instead.

[2019-11-21 13:34] #1677 closed

[2019-11-21 13:51] tomerz90 commented on #1677
Why boringssl? Is there no option to use OpenSSL? (I know boringssl is a branch of OpenSSL)

[2019-11-21 13:55] slandelle commented on #1677
Please read Netty's documentation for the different options: https://netty.io/wiki/forked-tomcat-native.html

[2019-11-25 06:49] hengyuan opened #1678 "setMaxConnections don not work"
my config is like this:
DefaultAsyncHttpClientConfig config = Dsl.config()
				.setRequestTimeout(60000)
				.setConnectTimeout(60000)
				.setMaxRequestRetry(3)
				.setMaxConnections(2)
				.setMaxConnectionsPerHost(5)
the "AsyncHttpClient" Thread count growth to a bigger number
how to control threads count

[2019-11-25 07:00] slandelle commented on #1678
No idea what you do, but number of connections and number of threads are unrelated. Number of threads in AHC is 2 * cores for IO + 1 for scheduling.

[2019-11-25 07:00] #1678 closed

[2019-11-26 14:55] breun opened #1679 "Provide a Bill of Materials (BOM) artifact"
The Java Library Best Practices site recommends multi-module projects should publish a Bill of Materials (BOM): https://jlbp.dev/JLBP-15.html

This would make it easier for projects to use AsyncHttpClient artifacts, because they would only need to add a single entry to their dependency management, like this:

[code]

[2019-11-26 14:56] breun commented on #1679
Note that the effective BOM should not have `async-http-client-project` as a parent, because `async-http-client-project` declares dependencyManagement and dependencies that should not be transitively passed on to users of the BOM.

The downside of not being able to use `async-http-client-project` as a parent is that you cannot use `${project.version}` for the version of the artifacts listed in the

[2019-11-27 01:07] slandelle commented on #1679
I don't think that's a good idea.
The actual client is the client module that only depends on the netty-utils one, which is transitively pulled.
Extra modules are exactly that: extras that only a few people are likely to use, and people using one are very unlikely to use a second one.
Adding a BOM would make it look like it's the recommended solution, which it really is not as it would add excessi

[2019-11-27 05:31] breun commented on #1679
A BOM just imports dependency management, so the classpath is not changed by it.

I actually use the extras modules on all projects that I use async-http-client in, so having a BOM would clean up my `pom.xml` files. Even if my use case is ‘very unlikely’, why not support it?

I would be willing to contribute a BOM module. Or would it be rejected if I created a pull request for it?

[2019-11-27 18:38] slandelle commented on #1679
I stand corrected. Yes, please provide a PR, just make sure it doesn't break anything for existing users.

Thanks.

[2019-11-29 13:21] #1679 closed

[2019-12-08 17:23] M1178475702 opened #1681 "Can this project used in an android project?"
If can, please look the bug following:
when i use this project in my android project, it throw the exception like this:
![image](https://user-images.githubusercontent.com/42426867/70393110-e9625500-1a21-11ea-9653-ff0682c32c2b.png)
![image](https://user-images.githubusercontent.com/42426867/70393122-026b0600-1a22-11ea-9beb-0a1972f66697.png)
When i use it in a plain java project, it is normal work.

[2019-12-08 20:01] slandelle commented on #1681
Sorry, but this library doesn't aim at supporting Android:
* it's not tested on Android
* no contributor has ever helped with this
* Google choose to not port the whole Java API. For example, try looking for https://docs.oracle.com/javase/7/docs/api/javax/net/ssl/SSLParameters.html#setEndpointIdentificationAlgorithm(java.lang.String) in the Android SDK...

[2019-12-08 20:01] #1681 closed

[2019-12-09 18:35] fancellu opened #1682 "Problem with DNS name resolution via socks (Tor) proxy"
Run up a socks proxy, for example Tor browser proxy on port 9150

Run this code

[code]

I get

[code]

If I point it at ```https://check.torproject.org/``` it works fine

Do I have to do something else to make it not fail?

Thanks

[2019-12-09 19:16] fancellu commented on #1682
BTW, this is an example of it working just fine with HttpURLConnection

[code]

[2019-12-09 19:54] slandelle commented on #1682
@fancellu Your HttpURLConnection based sample doesn't work for me. And as far as I know, Java doesn't support this, see https://bugs.openjdk.java.net/browse/JDK-8028776.

[2019-12-09 19:57] slandelle commented on #1682
Mmm, actually, I see the DNS resolution in Charles, not in AHC, so I guess it works now and the Java issue should be closed.

[2019-12-09 20:02] fancellu commented on #1682
Charles?

It very much does work for me:

[code]

BTW, I love Gatling,

[2019-12-09 22:05] slandelle commented on #1682
I got this working for Gatling (DNS resolution was already working fine for HTTP proxies), see https://github.com/gatling/gatling/issues/3835.

Now, regarding AHC, honestly, the code base is very different now and I don't now if/when I'll have time for this someday.

The best solution would be to contribute a fix.

[2019-12-13 07:42] haihhhhh opened #1683 "How can I set Boundary with Multipart?"
How can I set  Boundary with Multipart? please help me. thanks.
Do we have some examples?

[2019-12-13 07:56] slandelle commented on #1683
Please ask on the mailing list (see README), this is a bug tracker.

[2019-12-13 07:56] #1683 closed

[2019-12-13 08:04] haihhhhh opened #1684 "How can I set boundary with multipart?"
How can I set boundary with multipart?

[2019-12-13 08:10] slandelle commented on #1684
I've already asked you to use the mailing list for questions, not the bug tracker.
Please comply and stop firing new issues here or I'll have no choice but to block you.

[2019-12-13 08:10] #1684 closed

[2019-12-19 19:38] prayagupd commented on #1642
figured AHC is not for android yet - https://github.com/AsyncHttpClient/async-http-client/issues/1681#issuecomment-562987155

android related questions - https://github.com/AsyncHttpClient/async-http-client/issues?q=is%3Aissue+android+is%3Aclosed

[2019-12-25 03:51] silence-code opened #1685 "Provide the capability of supporting the Unix domain socket protocol to the community."
What if I want to provide the community with the ability to support the unix domain socket protocol? If yes, how long will the code be incorporated?

[2019-12-25 09:52] slandelle commented on #1685
As long as such PR focuses on HTTP over unix domain sockets, it would fit in here.
I'll only be available for reviewing after 6th of January. Once merged, released would follow.

[2019-12-27 12:11] xiaofud opened #1686 "Delay between RequestTimeout and ListenableFuture's completion"
Hi, I find the delay between RequestTimeout and the time corresponding future completes by a timeout exception is quite long. Below is my test.

version:

[code]

test code:

[code]

result:

I tried many times, and the future complete time is always much longer than 20ms. It doesn't matter if I use a pre-created AsyncHttpClient or create a new one on each request.

[code]

log:

[code]

[2019-12-27 13:00] slandelle commented on #1686
[AHC uses](https://github.com/AsyncHttpClient/async-http-client/blob/master/client/src/main/java/org/asynchttpclient/DefaultAsyncHttpClient.java#L97) Netty's [HashedWheelTimer](https://netty.io/4.1/api/io/netty/util/HashedWheelTimer.html) to trade accuracy for the ability to schedule tens of thousands of event.

AHC currently uses the default settings, ie 100ms tick duration, meaning you will get

[2019-12-27 13:21] xiaofud commented on #1686
Thanks for your reply. Right now, I'll just limit the time on Future#get().

[2019-12-28 02:42] silence-code commented on #1685
I will take some time to sort out this part of the code, thank you!

[2020-01-01 23:35] mchernyakov commented on #1584
Hi @slandelle, is it still actual? I would like to take it.

[2020-01-02 08:02] slandelle commented on #1584
Hi @mchernyakov
Yes, feature request is still open, please feel free to contribute.

[2020-01-07 01:23] zhp0260 opened #1689 "websocket - gzip/deflate TextWebSocketFrame through Proxy is not getting decompressed before consumed"
I have a situation :
Websocket ----> (proxy app:AsyncHttpClient) ----> Proxy ----> Origin Server( web site)
Ex: URL: wss://pshudws.365pushodds.com/zap/?uid=1234567890

While I can get the websocket message correctly when accessed without Proxy; the app shows (junk) gzip data when accessed the same pages through Proxy.

My proxy configuration doesn't unpack the gzip/deflate TextWebSocketFrame recei

[2020-01-07 07:53] #1689 closed

[2020-01-07 07:53] slandelle commented on #1689
Thanks for reporting

[2020-01-08 02:08] marshallpierce opened #1690 "I'm probably misconfiguring, but... seeing curious behavior with max conns per host"
Here's how I'm building the client:

[code]

The workload has about 10-20 req/s per JVM. The 99%ile response time of the service it hits is 50ms. 50 connections per host seems like way overkill per Little's law (20 * .05 = 1, so hypothetically one connection would work), and yet I'm seeing this be thrown fairly often. Even if every request took the request timeout of 2s, that would be (20 * 2 = 40

[2020-01-08 07:01] slandelle commented on #1690
Can't say without being able to reproduce. Could be that:
* you have sudden response time burst. How do you measure your response times? What's your max? Do you have 1s accuracy?
* you have a sudden burst in throughput. How do you measure it?
* there's a bug in AHC. Which version do you use?

[2020-01-08 15:39] marshallpierce commented on #1690
Understood. This service has an "interesting" setup for response time measurements (legacy, etc), and it could well be masking some short-time-window behavior. We're on 2.10.4. At this point I'm happy to blame system behavior that isn't measured well, so as long as there isn't some obvious thing I should be configuring but am not, I think I'll designate this not your problem. :) Thanks for the qui

[2020-01-08 15:39] #1690 closed

[2020-01-08 15:50] slandelle commented on #1690
Thanks for your feedback.

[2020-01-13 18:53] AndreaCensi commented on #1685
Just a +1 for this feature 👍- here's a prospective user.

[2020-01-21 19:10] tomerz90 opened #1691 "Getting null as Response in OnCompleted callback"
I created a handler that extends `AsyncCompletionHandler`, I tried following the code but got lost.
Im downloading a number of files and creating one handler per file.
I have also added a re-try mechanism that downloads this file again with the same handler:

[code]

`retryOrFail` create a new get request and calls `execute` with the handler used for the download that failed.
Im guessing Im just n

[2020-01-22 00:04] pinankg opened #1692 "RequestTimeOut closes the channel"
Is there a way to "not" close the channel when the request-time-out occurs?

e.g.
https://github.com/AsyncHttpClient/async-http-client/blob/master/client/src/main/java/org/asynchttpclient/netty/request/NettyRequestSender.java#L465-L467
It results in the channel being closed. I intend to keep the channel (connection) alive (in cases of requestTimeOut), as I am trying to use mutual-TLS and the hands

[2020-01-22 04:40] slandelle commented on #1692
First, you're using AHC 1 which has been dead for several years now. No additional work will ever happen there.

Then, wanting to keep the connection alive after a timeout is completely wrong: you'll end up trying to use the socket for a new request and receive unrelated segments from the previous one.
What you're need is to increase the TLS handshake timeout: https://github.com/AsyncHttpClient/as

[2020-01-22 04:40] #1692 closed

[2020-01-22 09:32] slandelle commented on #1691
No idea what you do exactly without you providing a [SSCCE](http://sscce.org/).

Then, please use the community mailing list for such questions, not the bug tracker.

Regards

[2020-01-22 09:32] #1691 closed

[2020-01-22 17:59] pinankg commented on #1692
Thanks a lot slandelle! It makes sense now why the connection should be closed on RequestTimeOuts.

[2020-01-27 21:32] JLLeitschuh commented on #1455
Out of curiosity, did the Java inconsistency ever have a CVE assigned to it? Is it still present or did it get fixed?
[code]

[2020-02-03 06:08] silence-code opened #1693 "Version Release Plan"
I would like to ask about the version release plan here? How often is the function released?

[2020-02-08 14:47] ljwagerfield opened #1696 "Transitive dependencies on different versions of `netty-handler`"
The `async-http-client:2.10.4` library introduces transitive dependencies on two different versions of `netty-handler`.

It seems AHC's direct dependencies on `netty-reactive-streams` and `netty-codec-http` introduce the problem: the former requires an older version of `netty-handler`.

**This adds compile-time warnings to SBT projects.**

I'm using SBT `1.3.6`.

Please see dependency graph below:

[2020-02-08 16:28] slandelle commented on #1696
There’s no issue and the version indeed pulled is the most modern one.

[2020-02-08 16:28] #1696 closed

[2020-02-08 17:05] ljwagerfield commented on #1696
I'm not sure how you can say this?

Are you saying this because: a) you consider SBT warnings to be ignorable, or b) you believe there's a bug in SBT's handling of transitive dependencies, such that it's throwing a false negative in this particular occasion? I'm unaware of such a bug in the latter instance -- please do enlighten me!

**/build.sbt**
[code]

**project/build.properties**
[code]

**ru

[2020-02-08 18:01] slandelle commented on #1696
a) I’m familiar with Netty, Netty ia pretty strick with semver and you’re looking at differences in fix versions.

Generally speaking, those sbt warnings are quite often just noise, in particular when the differences are about fix versions, not even minor...

[2020-02-08 18:14] ljwagerfield commented on #1696
Thanks for the clarification 👍

[2020-02-13 23:11] andrewchoi5 opened #1697 "wiki read me markdown executeRequest?"
Should the `execute(request)` be `executeRequest(request)`  here?
[code]

[2020-02-18 15:40] n-miles opened #1698 "Default completion handler shouldn't eat thowables"
`AsyncCompletionHandler` implements `onThrowable()` like this:
[code]
This is bad enough for things like `IOException`, but it's particularly scary for things like `OutOfMemoryError`.

I propose that we change `AsyncCompletionHandler`'s `onCompleted()` method to, if a throwable was already delivered to its `onThrowable()` method, rethrow the exception from `onCompleted()`.

If we are unwilling to

[2020-02-18 18:40] n-miles commented on #1698
Closing as it looks like this actually is treated properly, sorry for the noise

[2020-02-18 18:40] #1698 closed

[2020-02-22 13:03] ibingdian opened #1699 "with AsyncHttpClient，how can i do heartbeat？"
usingAsyncHttpClient with websocket，how can i do heartbeat？

[2020-02-22 13:04] slandelle commented on #1699
This is a bug tracker, please use the community mailing list for questions (see README).

[2020-02-22 13:04] #1699 closed

[2020-02-24 17:53] harinirajendran opened #1700 "App crashing with NullPointerException while using aynschttpclient as a shaded library."
When we start the app it crashes with the following stack trace when we use asynchttpclient as shaded library.
[2020-02-19 20:58:58,692] ERROR [KafkaServer id=0] Fatal error during KafkaServer startup. Prepare to shutdown (kafka.server.KafkaServer)
java.lang.NumberFormatException: null
        at java.base/java.lang.Integer.parseInt(Integer.java:614)
        at java.base/java.lang.Integer.parseInt

[2020-02-24 18:05] slandelle commented on #1700
That's an issue with your shaded process. This String constant has nothing to do with the root package, it's just the prefix of the properties in the config file.

Play framework has been shading AHC and translating package for a long time without issue. In particular, config file location is resolved [in the same package of the helper class](https://github.com/AsyncHttpClient/async-http-client/bl

[2020-02-24 18:05] #1700 closed

[2020-02-26 15:59] sirianni commented on #1700
True.  Translation of String constants does appear to be an issue, however, with both of the major shading tools for gradle and maven:
* https://github.com/johnrengelman/shadow/issues/338
* https://issues.apache.org/jira/browse/MSHADE-156

[2020-02-26 16:11] slandelle commented on #1700
Then you should not only translate the strings in the Java code but in the properties file too.

[2020-02-28 00:51] Morty-se opened #1701 "CVEs in the library dependencies"
I noticed some of your libraries contained CVEs. I suggest a library update to avoid potential risks. The details are as follows.
* **Vulnerable Library Version:** org.apache.tomcat.embed : tomcat-embed-core : 9.0.26
  **CVE ID:** [CVE-2019-12418](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-12418)
  **Import Path:** bom/pom.xml, extras/rxjava/pom.xml...(The rest of the 14 paths is hidd

[2020-03-04 09:31] slandelle opened #1702 "Introduce an option for tuning SO_KEEPALIVE"

[2020-03-04 09:34] #1702 closed

[2020-03-08 01:55] sivaalli commented on #1580
@slandelle Can I work on a fix for this?

[2020-03-08 06:59] slandelle commented on #1580
@sivaalli sure, contributions welcome

[2020-03-09 02:30] avillev opened #1703 "Asynchronous/non-blocking filter"
I have been using the Request filter for some time now and am running into an issue with rate-limiting (as shown here: https://jfarcand.wordpress.com/2010/12/21/going-asynchronous-using-asynchttpclient-the-basic/).

My API is fully reactive and the filter is using the caller's thread. Using a normal rate limiter will literally block the thread and potentially cause issues to the API.

I considered

[2020-03-09 06:53] slandelle commented on #1703
In a reactive app, you should be using the reactive streams API.

[2020-03-09 06:53] #1703 closed

[2020-03-12 05:37] hongshubing opened #1704 "How to support nio"
My project is particularly CPU intensive when the third-party interface qps is above 300.
I suspect it is not configured in the nio way.

[2020-03-12 06:31] slandelle commented on #1704
Use a profiler such as async-profiler to figure out where you spend CPU.
Not related to AHC.

[2020-03-12 06:31] #1704 closed

[2020-03-12 14:32] zagorulkinde opened #1706 "SpnegoEngineTest#testGetCompleteServicePrincipalName test failed in master branch"
org.asynchttpclient.spnego.SpnegoEngineTest#testGetCompleteServicePrincipalName failed

[code]

[2020-03-13 00:02] dontgitit opened #1707 "Support realm/authentication from Uri"
Hi,

I was curious if there are plans to support user:password authentication automatically from the request url. For instance, browsers and curl support something like `https://user:password@domain.com` - they seem to automatically translate that into basic user:password auth. Are there any plans to do that with AsyncHttpClient? It seems that if no `realm` is set explicitly, then maybe `RequestBu

[2020-03-13 07:06] slandelle commented on #1707
Contributions welcome :)

[2020-03-13 17:23] dontgitit commented on #1707
Happy to contribute, but I just wanted to know if it's desired behavior or not. Even though curl and web browsers seem to support it, I think it might be deprecated/discouraged:

https://tools.ietf.org/html/rfc3986#section-3.2.1

https://tools.ietf.org/html/rfc3986#section-7.5

Seems like it's insecure (if it's under `https` scheme), and is also potentially an attack vector - users might see a URL

[2020-03-17 15:09] slandelle commented on #1706
Hilarious.

`InetAddress.getByName("localhost").getCanonicalHostName()` return `127.0.0.1` with JDK8 and `localhost` with JDK11.
I would say JDK8 behaviour is wrong, but then, I have no idea what the expected behavior in the context of Spenego is.

[2020-03-19 06:05] zhp0260 opened #1709 "Can u add the reconnect Method for NettyWebSocket."
last year, i used the websocket function, I find when the server disconnect the nettywebsocket client, then I don't know how reconnect the server side.  I just only close this asyncHttpClient and renew a websocket. I think it is not well for it, the framework should be support reconnect, make it for reuse.

[2020-03-19 08:41] slandelle commented on #1709
Contributions welcome.

[2020-03-19 19:25] n-miles commented on #1707
I don't think the client should be doing anything that the RFC says should be considered an error or ignored.

[2020-03-20 02:12] dontgitit commented on #1707
Yeah... for a moment I thought it might be nice to support since curl as well as browsers support it, but on further thought it's probably not a great idea.

[2020-03-20 02:12] #1707 closed

[2020-03-20 09:23] slandelle commented on #1707
Sorry for the long delay (things are "complicated" on my side atm, just like lots of people I guess...).

Yeah, I think you're right, let's drop this.

[2020-03-23 18:25] yunglin opened #1710 "getClientStats throws NullPointerException"
version: 2.5.4
[code]

[2020-04-03 20:42] #1580 closed

[2020-04-03 20:54] #1710 closed

[2020-04-03 20:55] slandelle commented on #1693
No plan, once in a while.

[2020-04-03 20:55] #1693 closed

[2020-04-03 20:57] #1697 closed

[2020-04-03 20:57] slandelle commented on #1697
Indeed, thanks for reporting

[2020-04-03 21:28] andrewchoi5 commented on #1697
No problem.

[2020-04-08 02:06] ngbinh opened #1714 "Allow disabling cookie jar"
since https://github.com/AsyncHttpClient/async-http-client/commit/d4f1e5835b81a5e813033ba2a64a07b020c70007 ,I cannot disable CookieStore by ` new DefaultAsyncHttpClientConfig.Builder() .setCookieStore(null) ... .build()`. There are many usecases where we do not want ahc to handle Cookies.

I am wondering if there should be a more official way of disabling cookie or at least adding a `null` check h

[2020-04-08 07:34] #1714 closed

[2020-04-08 07:35] slandelle commented on #1714
A regression indeed, thanks for reporting.

[2020-04-08 09:12] ngbinh commented on #1714
Thanks!

[2020-04-08 20:57] sivaalli commented on #1709
I can take a look at it.

[2020-04-08 21:30] slandelle commented on #1709
@sivaalli Sure, feel free to take a stab at it. Thanks.

[2020-04-10 04:19] salliEG commented on #1709
Agreed. I do not specifically need this use case. If there is any traction on this request I will revisit this. :)

[2020-04-10 04:20] sivaalli commented on #1709
Agreed. I do not specifically need this use case. If there is traction on this request, I will revisit. Thanks :)

[2020-04-17 09:06] aneeshkapur1 opened #1716 "TooManyConnectionsPerHost Exception"
I am upgrading from AHC 1.8.15 to AHC 2.9.0 while it works fine in all the cases, have successfully ported the code but there is a peculiar issue with the timeout scenarios. Whenever a certain request is timed out multiple times, it throws a TooManyConnectionsPerHostException. It could be a connection leak or can be something which was not properly ported by me.

My Config for async client is

 De

[2020-04-17 09:09] slandelle commented on #1716
Please don't spam the mailing list and the bug tracker.

Connections limits are securities. They don't buffer requests when the limit is reached but reject the requests. It was always supposed to work this way but feature was broken in AHC 1 and requests could keep on opening new connections and bypass the limit.

[2020-04-17 09:09] #1716 closed

[2020-04-23 09:26] swimmesberger opened #1717 "Epoll/Kqueue optional"
When using async-http-client in an OSGi environment and we do not want to use the native transport we have to ship with the io.netty:netty-transport-native-epoll, io.netty:netty-transport-native-kqueue and io.netty:netty-transport-native-unix-common dependencies even though they are not necessary.

We would prefer to use async-http-client with the default transport without the native dependencies.

[2020-04-23 09:28] slandelle commented on #1717
Contributions welcome

[2020-04-23 09:38] swimmesberger commented on #1717
Made PR #1718

[2020-04-23 09:40] #1717 closed

[2020-04-23 09:41] slandelle commented on #1717
Thx

[2020-05-01 17:37] n-miles opened #1719 "Unexpected ClosedChannelException"
We observed the following error when making an HTTP request. I don't have any other relevant information about this since we don't have debug logs turned on in our production environment. It has only happened once, and I cannot reproduce it.
[code]
It sounds like something on the client side is closing the Netty channel early and then the client is trying to use it again. I don't know enough about

[2020-05-05 12:26] christiangroth opened #1720 "InputStream lost on 308 redirect, ByteArray not"
Hi everybody,

I'm currently fiddling around with AHC and multipart requests. So far so good and everything is fine. However there is a special case were a PUT request gets a HTTP 308 response and in this case the second request does not send the body anymore. I've seen that this should work according to https://github.com/AsyncHttpClient/async-http-client/blob/master/client/src/main/java/org/asyn

[2020-05-05 12:45] slandelle commented on #1720
Yes, you are doing something wrong.

The network is not instantaneous.
If your server choses to respond early without waiting for having received the full request, including its body, there's a very good chance the user-agent has already started writing the request body on its side of the socket.
If your request body is/contains an InputStream, it has already been consumed and can't be regenerated

[2020-05-05 12:45] #1720 closed

[2020-05-05 18:04] n-miles opened #1721 "False timeouts when using StreamedAsyncHandler"
When using the `StreamedAsyncHandler` to download large files, I found what I think is a bug in how timeouts are handled.

The timeout mechanism relies on when the `ListenableFuture` for the request was last `touch()`ed. `touch()` is only called when a `HttpResponseBodyPart` is delivered to the downstream. This works fine if the downstream is downloading the response as fast as possible.

However,

[2020-05-05 18:49] slandelle commented on #1721
Sure.

[2020-05-05 23:59] n-miles commented on #1721
@slandelle do you have any concerns about backwards compatibility or should I just add it to the existing `StreamedAsyncHandler ` logic?

[2020-05-06 12:28] Mark0Sertic opened #1722 "Getting TimeoutException"
Hi,
I have noticed that java.util.concurrent.TimeoutException occures when dealing with AHC.
Problem occures when I am executing two request towards same url, first one passes ok but second one timeouts.
In case of lets say three request, third being invoked after second timeouts towards same url (and using same method) it passes fine as first one (only second request seems to be problem).
Also I

[2020-05-06 12:33] slandelle commented on #1722
Please try to trim your reproducer to AHC only, eg one hitting a public website (eg google.com).
I can't investigate such complex sample that mixing lots of different technologies. Your problem could be in your server as well.

[2020-05-06 12:45] Mark0Sertic commented on #1722
Test case is just using AHC and wiremock as a server and it is just simple spring boot aplication. I can try to remove wiremock and redirect it to google if it is going to help, and will try to kick out Reactor's Monos, I will let you know when i do changes.

[2020-05-06 12:55] slandelle commented on #1722
This "just" is already too much. For example, your problem could be wiremock not being able to server more than 1 request at a time.
Please kick out everything that's not AHC and its deps.

[2020-05-06 13:08] Mark0Sertic commented on #1722
Will do so, I have exclude wiremock from equation because much more complex problem fails in real life production environment. but i understand. I will kick out everything except AHC and let you know when I do it.
Thank you.

[2020-05-06 13:24] n-miles commented on #1722
[Your test server is blocking the event loop.](https://github.com/Mark0Sertic/async-http-client-test/blob/3ea625abbd1fc447f50e679a6b0aaf597312adbc/src/main/java/com/example/demo/service/FetchServiceImpl.java#L14) So your server is only able to serve one request at a time.

[2020-05-06 13:29] Mark0Sertic commented on #1722
Ok but why is this working if i set in AHC configuration .setKeepAlive(false). If I do that step same test passes without Timeout exception ?

[2020-05-06 19:34] slandelle commented on #1721
Not on the reactive-streams features. Those are quite experimental (originally contributed by Lightbend, then nobody ever answered my questions).

[2020-05-06 20:48] n-miles commented on #1722
Couldn't tell ya. If I had to guess, I'd guess something on your server's side treats that differently and puts those requests on different threads.

This is an issue with your server. If you can't repro this against a real server, but can repro it against your server that is known to be bugged, it's an issue with your server.

[2020-05-07 09:28] Mark0Sertic commented on #1722
Hi thank you for your answer, but have been able to reproduce error, on different servers and also locally. I will try to strip down all dependencies and as suggested reproduce error only using AHC, and after that I will be back with you.

Thank you

[2020-05-08 02:29] n-miles commented on #1721
Opened #1723

[2020-05-09 00:14] n-miles opened #1724 "DNS lookups should not block the event loop"
### The Problem
The default name resolver for AHC is:
[code]
This does DNS lookups by using the calling thread (a Netty event loop thread) to do a blocking DNS lookup via the OS mechanism. This is a bad default behavior.

### Proposed Solution
I propose that we move the blocking DNS lookups into a separate event loop. There does not appear to be a resolver in Netty that will do this, so we would l

[2020-05-09 00:23] n-miles commented on #1650
This seems like a pretty big API change and a complex internal change just because we want to use `InflightNameResolver`. The only thing preventing us from using `InflightNameResolver` is that it's package-private in Netty.

@slandelle what are your thoughts on just copying `InflightNameResolver` and using the copy? It's ~100 lines of extremely simple code.

[2020-05-14 19:23] #1721 closed

[2020-05-19 01:06] Huan9 opened #1725 "org.asynchttpclient.uri.Uri.create() cannot handle ipV6 address properly"
If try to create Uri using ipV6 address, like below:
Uri.create("https://0:0:0:0:0:0:0:1:61700") will get below error, seem like the org.asynchttpclient.uri.UriParser.computeRegularHostPort will always assume the pass in url string is either ipv4 address or just hostname.

java.lang.NumberFormatException: For input string: "0:0:0:0:0:0:1:61584"

	at java.lang.NumberFormatException.forInputString(N

[2020-05-19 06:47] slandelle commented on #1725
Thanks for reporting.
Would you be willing to contribute a fix?

[2020-05-19 08:35] slandelle commented on #1725
Actually, your url is wrong. IPv6 addresses must be wrapped with square braces:

`Uri.create("https://[0:0:0:0:0:0:0:0:1]:61700")`

[2020-05-19 08:35] #1725 closed

[2020-05-21 15:30] fancellu commented on #1682
My work around is to use okhttp

https://gist.github.com/fancellu/df6dde59249edf8401b28bbc44a78cbc

[2020-05-29 10:55] christiangroth commented on #1720
Hi,

one last question / suggestion on this: Would it be possible to implement a InputStreamProviderPart instead of an InputStreamPart? The InputStreamProviderPart would use a Lamba to create a fresh InputStream every time it's needed.

I could implement the class InputStreamProviderPart myself, but as fas as I see in the code this won't work because there is an if-else construct in org.asynchttpc

[2020-05-29 11:18] slandelle commented on #1720
Nice idea.
Is this something you'd be willing to contribute?

[2020-06-02 06:50] christiangroth commented on #1720
I'd be happy to try. Unfortunately, I can't say when exactly I will be able to do this, because we are currently having to prioritize what we can implement and when through short-time work in the projects.

[2020-06-02 07:42] christiangroth commented on #1720
We have workarounded the missing API like this, so we will go with that for now.

    public static class InputStreamSupplierPart extends InputStreamPart {

        private final Supplier<InputStream> inputStreamSupplier;

        public InputStreamSupplierPart(String name, Supplier<InputStream> inputStreamSupplier, String fileName) throws IOException {
            super(name, inputStreamSupplier.

[2020-06-04 14:15] n-miles commented on #1721
@slandelle when will this change make it into a release?

[2020-06-05 09:27] christiangroth commented on #1720
We are expecting resource leakage with our workaround. I guess it's because InputStreamPart.getInputStream() is called per chunk to be sent? Not sure. However, I may come up with a PR soon, so that an InputStreamSupplierPart will be part of AHC.

[2020-06-16 08:47] asurovenko opened #1727 "Netty version update"
Hello,
already present 4.1.50.Final netty version, do you have any plans to update it in the near future?
Thanks.

[2020-06-20 07:45] lakxtxue opened #1728 "When Request Method is "HEAD" and setFollowRedirect is set to true. The method of the second redirect request is GET."
When Request Method is "HEAD" and setFollowRedirect is set to true. The method of the second redirect request is GET.
When I download a large file, it will time out here, in fact it has been downloading

`Caused by: java.util.concurrent.TimeoutException: Request timeout to 127.0.0.1/127.0.0.1:8888 after 60000 ms
	at org.asynchttpclient.netty.timeout.TimeoutTimerTask.expire(TimeoutTimerTask.java:43

[2020-06-20 14:22] lakxtxue opened #1729 "The connection is lost when downloading large files through multiple connections."
The connection is lost when downloading large files through multiple connections. When I download files that support breakpoint resuming and download files in blocks, I set the size of the body block required for each request to 80MB. I configured the proxy to capture packets and found that some connections were not completed The 80MB download is over, but at this time I did not receive the onComp

[2020-06-25 13:06] pejobo commented on #1720
@slandelle Hi Stephen, shouldn't this issue be re-opened until #1726 is merged?

[2020-06-28 10:24] lakxtxue commented on #1729
Sorry, my configuration is not correct, I should set a specific read timeout, and now close this question.

[2020-06-28 10:24] #1729 closed

[2020-07-08 08:33] srirama-rayaprolu commented on #828
@slandelle
In my case, it is not sending even in the first time also. Due to this SSL handshake is failing.

Do I need to do this setting by default?
` context.getSupportedSSLParameters().setNeedClientAuth(true); `

[2020-07-08 10:04] slandelle commented on #828
No, `needClientAuth` is a server side parameter. You must configure a proper keystore.

[2020-07-24 09:34] insticore opened #1730 "CONNECT request is sent with default AHC user-agent, not with the on from RequestBuilder"
The new CONNECT request is made by NettyRequestFactory, where User-Agent is set from AsyncHttpClientConfig, if I correctly understand.
So in result the user-agent differs from the following requests.

Please, is it possible to fix?

This is captured by Wireshark, the first request CONNECT and the headers are:
**accept: */*.
user-agent: AHC/2.1**

[2020-07-27 20:05] will-lauer opened #1731 "Leaking memory when handling redirects"
We've encountered a memory leak when handling redirects. It looks like when a redirect is encountered by the system, it ends up reusing the existing NettyResponseFuture to handle the request to the new destination. This ends in turn replaces the old request timeout with a new one, orphaning the old timeout. Since references to timeouts are kept in the HashedWheelTimer, and since timeouts have refe

[2020-08-02 06:54] slandelle commented on #1731
Closed by #1732

[2020-08-02 06:54] #1731 closed

[2020-08-02 07:02] slandelle commented on #1730
I no longer maintain this project (actually looking for new maintainers).
Contributing a fix would be very much welcomed.

[2020-08-19 14:33] pshirshov opened #1733 "Graal native-image support?"
In case I build an app using `async-http-client` with `native-image` I'm getting an error ` java.lang.ExceptionInInitializerError: null` while trying to call `org.asynchttpclient.Dsl.asyncHttpClient()`.

Seems like something is wrong with static initializers/static fields somewhere in `async-http-client`

Native images aren't that great in diagnostics so I can't provide more details at the moment.

[2020-08-19 20:10] pshirshov commented on #1733
Solved by copying missing resources, seems to be fine now.

[2020-08-19 20:10] #1733 closed

[2020-08-23 19:42] tomgs commented on #1728
@lakxtxue hi - I've applied to maintain this library, so I'm taking a look at open issues to see whether I can maybe help out.

As a general note, a paste of the code tends to help in these issues - if not for better comprehension then at least to save a few lines of reproduction:)

Just to make sure I follow: you've got a large resource located at `urlA`. When dispatching a `HEAD` request to `url

[2020-08-23 19:43] tomgs commented on #1724
@n-miles if this is still relevant, I contacted the repo's maintainer to take over the repo (he's been looking for a new maintainer for a while now).

If I get the green light I'd be happy to incorporate this feature into the project.

[2020-08-24 03:38] lakxtxue commented on #1728
@tomgs hi, yes, that's what I mean, because I use http to download large files, I need to get the size of the file first. When accessing this file resource, there will be a redirection to the real address. I use the **HEAD** request method to get the file size. **AsyncHttpClient** encounters a **301** When it was directed, it did not continue to access with a **HEAD** request but used a **GET** re

[2020-08-24 04:25] TomGranot commented on #1728
@lakxtxue I see what you're saying, and it's perfectly clear. Your English is much better than many of the non-native English speakers I've met (I'm also not a native speaker, btw!).

I actually wasn't sure what the HTTP protocol specification says about method handling in redirects.

I didn't go to the spec itself, but [MDN says](https://developer.mozilla.org/en-US/docs/Web/HTTP/Redirections#Perm

[2020-08-24 18:47] TomGranot commented on #1728
Alright, so I think I found the culprit:

https://github.com/TomGranot/async-http-client/blob/master/client/src/main/java/org/asynchttpclient/netty/handler/intercept/Redirect30xInterceptor.java#L88-L91

[2020-08-24 19:17] TomGranot commented on #1728
So I asked around and received other use cases where it makes sense to have a the next request in the cycle be a `GET` instead. I think this can be easily solved by adding another config option for the `RequestBuilder` called `persistMethodBetweenRedirects` that will basically allow you to do `HEAD` all the way if you wanted to.

I'll write a PR in a bit.

[2020-08-24 19:20] slandelle commented on #1728
Here’s what I do in Gatling: https://github.com/gatling/gatling/commit/a87729b7d1ce503ea16184b68b6b436d50eab658

[2020-08-24 19:22] TomGranot commented on #1728
Ah, that makes sense, this way you allow it for `HEAD` and `OPTIONS` but disallow it for `POST` that can pass too much information away. Thanks @slandelle!

[2020-08-26 04:21] TomGranot commented on #1727
@asurovenko Not sure if you noticed, but Netty's been upgraded to 4.1.51 earlier this month:

https://github.com/AsyncHttpClient/async-http-client/commit/383d543b3b9382c496057caa4e8fa48f4c8ef0a2#diff-600376dffeb79835ede4a0b285078036R469

[2020-08-31 19:07] TomGranot commented on #1728
Still need to open a PR, just not getting to it. Will do so sometime this week (need to re-write the tests so Maven won't be angry).

[2020-09-17 01:57] chenjinkai opened #1734 "Can't write request java.lang.NullPointerException"
hi:
  The following exception was caught without other exceptions. We don't know why this exception happened.
 Can help avoid this exception in a better way？

the client version is 1.9.39.

`Can't write request
java.lang.NullPointerException
	at com.ning.http.client.providers.netty.future.NettyResponseFuture.getChannelRemoteAddress(NettyResponseFuture.java:407)
	at com.ning.http.client.providers.n

[2020-09-17 05:01] slandelle commented on #1734
AHC 1 has been dead for a very long time. Please upgrade to version 2.

[2020-09-17 05:01] #1734 closed

[2020-09-28 07:13] TomGranot commented on #1730
@insticore Just pinging again to see whether you can clarify a bit more. No rush:)

[2020-09-28 11:59] TomGranot commented on #1728
Keeping this here for now, will move to the pr a bit later - seems that `AsyncStreamHandlerTest.asyncOptionsTest()` is flaky - `http://apache.org` returns either 4 or 5 methods sporadically:

[code]

[2020-09-28 12:10] TomGranot opened #1735 "AsyncStreamHandlerTest.asyncOptionsTest() is flaky"
Following https://github.com/AsyncHttpClient/async-http-client/issues/1728#issuecomment-699962325, it seems that [`AsyncStreamHandlerTest.asyncOptionsTest()`](https://github.com/AsyncHttpClient/async-http-client/blob/master/client/src/test/java/org/asynchttpclient/AsyncStreamHandlerTest.java#L432) is flaky - there are a few different servers behind http://apache.org, and each returns either 4 or 5

[2020-09-28 13:30] TomGranot commented on #1728
One of the really fun things about long-standing repos is that each piece of code has a rich history behind it, with various people facing the same(-ish) problem at different points in time, adding fixes and thought-nuggets into the code over the years. This seems to be exactly one of those cases - looking at https://github.com/TomGranot/async-http-client/commits/master/client/src/test/java/org/as

[2020-09-28 15:21] TomGranot commented on #1722
@Mark0Sertic this is a bit old, but if you can reproduce I'd be happy to take a look.

[2020-09-28 15:22] TomGranot commented on #1719
@n-miles Have you seen this happening since?

[2020-09-28 15:24] TomGranot commented on #1709
@slandelle I propose we close this since indeed no traction.

[2020-09-28 15:52] TomGranot commented on #1706
I'm wondering whether testing against different JDKs is worth the effort here. Or in general...

[2020-09-29 13:35] n-miles commented on #1719
I haven't noticed it if it has. We have retry logic on everything so small blips usually get absorbed without issue.

[2020-09-29 14:06] Daenyth commented on #1660
I'm also observing this under load with
- http4s 0.21.7
- async-http-client 2.10.5
- fs2 2.4.4

[2020-10-08 11:25] insticore commented on #1730
@TomGranot hi there, thanks a lot for keeping this great project alive!
The issue here is that I need to use some specific user agent for each request by adding it as an 'User-Agent' header like here
`Dsl.get(<url>).addHeader("user-agent", <custom UA>)`.
But when I use HTTPS connection, there are two HTTP requests sent, the first one is a _CONNECT_ with user-agent not from RequestBuilder, but the

[2020-10-08 11:43] TomGranot commented on #1730
@insticore today's a rough one, but will take a look tomorrow evening. If you could ping me if i forget that would be great;)

[2020-10-15 09:48] grunzwei opened #1739 "authorization headers exposed in log"
when log level is set to debug, the request object is logged.
this prints all headers, including authorization header.
in case a user has implemented their own credentials mechanism, for example, since Realm object was not sufficient for the authorization scheme (or any other reason) sensitive information can leak.
Bearer scheme authorization is one such example.

a simple fix is to not log author

[2020-10-15 09:49] grunzwei opened #1740 "authorization headers sensitive data leaks in debug logs"
when log level is set to debug, the request object is logged.
this prints all headers, including authorization header.
in case a user has implemented their own credentials mechanism, for example, since Realm object was not sufficient for the authorization scheme (or any other reason) sensitive information can leak.
Bearer scheme authorization is one such example.

a simple fix is to not log author

[2020-10-27 15:27] mayank-mundhra-2012 opened #1741 "Absence of detailed walk through other than readme and non-functional guidelinks"
Please help. New user here

There is no detailed walkthrough beyond the readme

The below guidelinks are non-functional.

    https://jfarcand.wordpress.com/2010/12/21/going-asynchronous-using-asynchttpclient-the-basic/
    https://jfarcand.wordpress.com/2011/01/04/going-asynchronous-using-asynchttpclient-the-complex/
    https://jfarcand.wordpress.com/2011/12/21/writing-websocket-clients-using-as

[2020-10-28 19:16] TomGranot commented on #1741
@mayank-mundhra-2012 I've opened a PR to remedy this:

https://github.com/AsyncHttpClient/async-http-client/pull/1738

It has archived links to these resources:

* http://web.archive.org/web/20111224171448/http://jfarcand.wordpress.com/2011/01/12/going-asynchronous-using-asynchttpclient-for-dummies/
* http://web.archive.org/web/20111224171241/http://jfarcand.wordpress.com/2010/12/21/going-asynchro

[2020-11-02 07:22] insticore commented on #1730
@TomGranot hello, just asking if there any news for this issue
And also found a screenshot I did for a request with incorrect user-agent
![image](https://user-images.githubusercontent.com/6097207/97840387-9144d900-1cec-11eb-95dc-fab6e31f4128.png).
So here is the first CONNECT request with default "AHC/2.1", and the next requests have custom user-agent I set within the code.

[2020-11-05 21:10] mayank-mundhra-2012 commented on #1741
A product oriented walkthrough would be great,

Thank you in advance.

[2020-11-06 15:30] TomGranot commented on #1730
@insticore I think I understand better now. Looking.

[2020-11-07 13:05] TomGranot commented on #1740
@grunzwei Going to look at this a bit later today - please ping me if I forget.

[2020-11-07 15:55] TomGranot commented on #1730
@insticore Just to clarify for anybody reading this at a later point in time - this does not affect you if you don't have a proxy server in the way. In @insticore's case there's an [SSL proxy](https://avinetworks.com/glossary/ssl-proxy/) that's sitting between them and the internet, causing the normal flow of HTTPS to be a bit different. Instead of:

1. HTTPS request to original host

We now have:

[2020-11-08 08:13] grunzwei commented on #1740
Ping?

[2020-11-08 11:44] TomGranot commented on #1740
@grunzwei I'll be taking over maintainership of the repo in the next few days, so more info to come.  :)

[2020-11-08 12:25] grunzwei commented on #1740
Congrats and goodluck

[2020-11-09 01:56] dota17 opened #1743 "Question about copyright?"
Hi, I found[ this commit ](https://github.com/AsyncHttpClient/async-http-client/commit/a12093438aa28e559c30cbbf1c7162f7d468fa2b) changing com.ning to org.asynchttpclient and some other commits updating header about copyright.
But there are some files that their copyright still are Ning Inc.

Who holds the copyright of this project or these code?Ning Inc or AsyncHttpClient Project?
And why is copyr

[2020-11-09 08:19] TomGranot commented on #1743
@dota17 Great question - I am a new maintainer of the repo, and this is obviously an historical question. The honest answer is I don't know - will check with @slandelle who has been a maintainer for a long while and get back to you. Please ping if I forget!

[2020-11-09 08:31] slandelle commented on #1743
AHC's creator is @jfarcan.
He created the project when he was working for Ning, hence the Ning copyright.
Then, he moved to Sonatype where he continued working on AHC, so there are maybe some "Sonatype" copyright around.
Finally, he moved to somewhere else, and I joined, and most of the new code has a "AsyncHttpClient Project" copyright.

When some old code was replaced, I changed the copyright. B

[2020-11-09 08:31] #1743 closed

[2020-11-10 18:49] mayank-mundhra-2012 opened #1744 "Suggestion"
Is it possible to have an async .execute without all the callback and function specification.
It is very messy and dirty to have to define all the possible call back methods.
See parseq http-client by LinkedIn built on top of this systems predecessor ning-http-client

[2020-11-10 21:29] TomGranot commented on #1744
@mayank-mundhra-2012 Don't see why not, but I'd need a better description than this to get going.
How would the API look like from your perspective?

[2020-11-10 21:36] TomGranot commented on #1653
@carlspring Hey, I'm the new maintainer of the repo, slowly going over old stuff and trying to ping the people involved to see what's relevant. I assume you stayed with a fork of this library with the suggested change? If you can make the fork public and open a PR against this repo that would be great, I'll review it and consider whether to include it or not in a next release.

[2020-11-10 21:43] carlspring commented on #1653
Hi @TomGranot ,

Unfortunately, I am no longer with the company where I fixed this. As far as I remember, it was just a matter of adding a simpe property and an `if`-statement. As I am no longer in the company, I don't have a proper set up for the SPNEGO testing part, so I wouldn't really be able to reproduce, fix and test this. My explanation in the task's description should be enough to figure i

[2020-11-11 06:30] TomGranot commented on #1653
@carlspring No worries, and I hope you landed somewhere else safely.

Will close for now and bring up if relevant again.

[2020-11-11 06:30] #1653 closed

[2020-11-17 08:18] TomGranot commented on #1744
@mayank-mundhra-2012 Ping on this when you get a moment:)

[2020-11-17 16:37] mayank-mundhra-2012 commented on #1744
1. Maybe you could have a look at the parseq repo and readme.
The base repo of parseq is https://github.com/linkedin/parseq
It has parallel async calls

2. parseq-http-client Uses ning client and has a wrapper around it to
prevent the complicated functions and callables that compulsorily need to
be developed and written everytime we do an async call.
https://github.com/linkedin/parseq/tree/master/

[2020-11-20 05:38] TomGranot commented on #1744
@mayank-mundhra-2012 Thank you very much for the comments! We do it for the fun of it, after all....

Will look into this once the final housekeeping (maven central, etc..) stuff is all done.

[2020-11-20 13:58] TomGranot opened #1745 "Enable dependabot"
Go through the [docs](https://docs.github.com/en/free-pro-team@latest/github/administering-a-repository/keeping-your-dependencies-updated-automatically) and configure.

[2020-11-20 14:04] TomGranot opened #1746 "Clean up CI - PR Action"
This is more of a braindump of experimenting with GitHub Actions for the repo than anything else.

## Current Situation

The repo currently uses Tavis-CI (.org) as its CI server, and there's [a rumor](https://docs.travis-ci.com/user/migrate/open-source-repository-migration/) going round that they would force us to migrate to the closed version of Travis-CI (.com) soon, and with limited build credi

[2020-11-21 14:20] wangpuye opened #1747 "Is Java 7 compatible?"
We still use java 7 in some projects. But it looks `2.12.1` cannot run on Java 7.

[2020-11-23 06:05] TomGranot commented on #1747
@kyriegence I'm a new maintainer, still going through the library. The official answer is its supported from Java 8 onwards, but I have not personally verified it either way yet.

[2020-11-27 17:17] TomGranot opened #1749 "MaxTotalConnectionsTest failing"
Stack trace:

[code]

Investigating, it relies on actual URLs (https://github.com, https://google.com) which feels like a bad idea.

[2020-11-27 17:24] slandelle commented on #1749
The real problem is that DNS resolution has serious issues on Travis.

[2020-11-27 17:57] TomGranot commented on #1749
@slandelle Fails locally too:)

[2020-12-01 18:09] bblack opened #1750 "Decoding of response header "location" is incorrect"
Unfortunately I'm using this library from JRuby, so either that layer will turn out to be responsible for my issue, or it will add a bit of difficulty in tracking things down.

Problem: I'm making a request. The response is 301 with a location header that contains non-latin characters (specifically, Thai). Something (either AHC, or some lib it uses, or something in the JRuby-java translation) is r

[2020-12-01 18:31] TomGranot commented on #1750
@bblack Interestingly enough, I've just worked on a different problem regarding the `setFollowRedirect(true)` [here](https://github.com/AsyncHttpClient/async-http-client/issues/1728), in that case regarding the method used for downstream requests. Not strictly relevant here, though, it appears.

What I think from a (very) initial observation is that there are actually quite a few different failure

[2020-12-06 19:28] TomGranot opened #1751 "Clean up SO"
https://stackoverflow.com/questions/tagged/asynchttpclient

[2020-12-06 20:31] TomGranot commented on #1750
@bblack - I played around quite a bit with JRuby & Maven. It might be just me, but I can't seem to get the dependencies of the library on the same classpath in order for JRuby to load them.

Well, to be more precise, I _can_ get the AHC library itself under the same classpath, by compiling and then dropping the `.class` files next to the ruby script before running `jruby`.

But anything more compl

[2020-12-06 20:41] slandelle commented on #1750
Here's what happens https://github.com/netty/netty/issues/10831
I'm quite pessimistic that such crap (yes, it's crap, even if it's FaceBook) will be supported in Netty anytime soon.

[2020-12-06 21:09] TomGranot commented on #1750
@slandelle Thanks! I assume this, unfortunately, means that AHC's at fault here (well, transitively so) @bblack.

[2020-12-06 21:14] slandelle commented on #1750
The real fault is that browser vendors decided to silently violate the spec instead of pushing the change into a new version. Google is at the origin of HTTP/2 and HTTP/3 and still they have pushed such change into the new versions of the spec.

[2020-12-06 21:18] bblack commented on #1750
I suspected that might be the case. I can provide details of my setup, but it would be a bunch of extra layers (e.g. jruby itself, jbundle which is a java dependency manager for ruby which honestly I have problems with anyway). It sounds like you could more directly reproduce this by an analogous piece of Java code.

Does AHC (or netty, I guess?) offer an interface for providing my own definition

[2020-12-12 17:52] TomGranot opened #1754 "Investigate DNS failures in testMaxTotalConnectionsTest"
See https://github.com/AsyncHttpClient/async-http-client/pull/1753 and elaborate more given time.

@slandelle you mentioned this has to do with Travis's DNS resolution, but I can confirm this fails also on my own machine and on GitHub actions. If you have any other insight / past experience with this do tell, but I'm leaving it here for later exploration.

[2020-12-12 20:41] TomGranot commented on #1735
Closed by #1753

[2020-12-12 20:41] #1735 closed

[2020-12-12 20:41] TomGranot commented on #1749
Closed by #1753.

[2020-12-12 20:41] #1749 closed

[2020-12-12 20:42] TomGranot commented on #1740
@grunzwei Did not forget about this - on the list:) If this is still relevant to you then please feel free to open a PR (if not, I'll get to it soon enough).

[2020-12-12 20:44] TomGranot commented on #1754
#1753 fixes that in a rather stupid way - by making the test a bit more granular to avoid any reliance on the exact exception thrown during the test. Instead, it now opts to observe the cause of the exception and use that as well as the exception type.

I'd like to keep this open to revisit the test eventually since I feel it's going to come back and bite me in the future.

[2020-12-12 20:45] TomGranot commented on #1727
@asurovenko Since no response, closing.

[2020-12-12 20:45] #1727 closed

[2020-12-12 20:46] TomGranot commented on #1724
@n-miles Current maintainer. If you'd like we can further discuss this - a proper spec is in order. Let me know if this is still relevant and we can develop the idea further (I don't see why allowing for _less_ blocking is a bad idea, but would have to dig deeper to give a smarter answer).

[2020-12-13 10:31] TomGranot commented on #1741
@mayank-mundhra-2012 Just to update, the current (immediae) roadmap for the repo is as follows:

1. Migrate CI from Travis --> GitHub Actions, since Travis is phasing out open source credits
2. Clean up all issues & PRs
3. Docs - I think the first thing I intend to write is this exact walkthrough.

[2020-12-15 16:19] mayank-mundhra-2012 commented on #1741
Thank you :)

On Sun, Dec 13, 2020 at 4:01 PM Tom Granot <notifications@github.com> wrote:

[2020-12-19 20:33] TomGranot opened #1757 "Clean Up CI - Add GH Action to Publish to Maven Central"
So now that https://github.com/AsyncHttpClient/async-http-client/issues/1746 is done, time to think about what actually happens when a merge happens to master to the repo, this time in the world of GitHub Actions.

## Rationale

In the current version of [`.travis.yml`](https://github.com/AsyncHttpClient/async-http-client/blob/83dac7d94f2b23fd6f0094fd45ad0e1df432de2c/.travis.yml), a small script (

[2020-12-19 20:34] TomGranot commented on #1746
So the PR portion of this - i.e. testing PRs before merging - was added in https://github.com/AsyncHttpClient/async-http-client/commit/7800e7eb99670569145e0971ec5fb916cc4751c9. I'm going to talk about the other part of it - i.e. publishing to Maven Central following a merge to master -  in https://github.com/AsyncHttpClient/async-http-client/issues/1757.

Closing.

[2020-12-19 20:34] #1746 closed

[2020-12-21 03:07] RahulKushwaha commented on #1757
@TomGranot: I have not done this before, but lemme take a look at this.

[2020-12-21 03:44] RahulKushwaha commented on #1745
@TomGranot : I can take this one up. Can you assign it to me?

[2020-12-21 05:57] TomGranot commented on #1745
@RahulKushwaha Excellent - assigned.
Please let me know what's needed on my end!

[2020-12-21 06:05] TomGranot commented on #1757
@RahulKushwaha Sort of, but coming to think about it - it's going to be hard for you to test without the username & password (or some sort of staging environment on the Maven Central side). I think it's better if you take a look at https://github.com/AsyncHttpClient/async-http-client/pull/1756 instead - mentioning you there.

[2020-12-22 14:12] oripwk opened #1759 "Response body transformation"
Hi,

How can I instruct AsyncHttpClient to transform the response body?

I can do it after receiving the response inside the user code, but I'm looking for a cleaner way, that will handle this automatically on every call, something like registering response transformers.

I'm trying to avoid doing this on every request:

[code]

[2020-12-23 21:16] TomGranot commented on #1759
@oripwk Thanks for opening the issue and providing great details!

## Continuations / `CompleteableFuture`
First and foremost, the easiest way to get where you want - a _cleaner_ way to do this - is by using `CompleteableFuture` to perform a callback once the full response body has arrived. The computation performed by the callback can be whatever you want it to be, and so (converted to Java) what

[2020-12-24 08:18] oripwk commented on #1759
@TomGranot Thank you for your detailed answer.

I started to write a reply why I cannot write an `AsyncHandler`. But in the midst, I had an idea. So, this is my solution (sorry, it's in Scala):

[code]

This was my original message:

[2020-12-24 08:35] #1759 closed

[2020-12-24 08:53] TomGranot commented on #1759
@oripwk From a first look this feels like a perfectly reasonable solution to me. There's really no reason to go overboard here if you're doing what looks like a rather simple transformation. That handler can be re-used as much as you'd like, of course.

If you ever end up having code that can be contributed back to the repo (even in an example form), feel free to open a PR. There's a lot of value

[2020-12-24 08:57] TomGranot opened #1760 "Curate great examples in issues"
Following #1759, I think that curating a few great examples from past issues would be awesome.

Things to do:

- [ ] Go through old issues and label under [Great Examples](https://github.com/AsyncHttpClient/async-http-client/issues?q=label%3A%22Great+Examples%22+)
- [ ] Perhaps integrate into the example folder in the main repo?

[2020-12-25 16:00] oripwk opened #1761 "Brotli support"
At the moment, there's no Brotli support. Looks like Brotli support was intentionally dropped in commit 420b017bbb36e881cde91bdc7975ac1893c5468e.

Is there still a reason to not support it? If no, then it may be a good idea.

An example of decompressing Brotli can be found in https://github.com/AsyncHttpClient/async-http-client/issues/1759.

[2020-12-25 16:07] TomGranot commented on #1761
@oripwk There isn't a core reason that I know of, but would have to investigate a bit further before committing to change it. This is, however, now high on the priority board at the moment (CI, docs and other niceties are a bit more urgent IMHO).

Please feel free to ping me if I don't get back to you on this, though.

[2020-12-26 14:09] TomGranot commented on #1719
@n-miles I thought about closing this, but I'm going to keep it in a list of defects Id like to eventually get to, and perhaps jump off of for the roadmap (for example, add a task for writing tests that check this type of behavior). If you've got any other example of shenanigans please continue writing them here, it's great.

[2021-01-04 07:38] TomGranot opened #1762 "Implement vuln scanning"
Following https://github.com/AsyncHttpClient/async-http-client/pull/1755 it's probably a good idea to have Snyk on the repo too. So many tools nowadays, fun:)

[2021-01-05 06:05] TomGranot commented on #1730
@insticore Merged into master, will be released in 2.12.3.

[2021-01-05 06:05] #1730 closed

[2021-01-05 07:26] #1728 closed

[2021-01-05 07:26] TomGranot commented on #1728
@lakxtxue Merged to master, should be deployed in 2.12.3.

[2021-01-06 07:22] TomGranot commented on #1761
Making a mention of this repo here for later:
https://github.com/hyperxpro/Brotli4j

[2021-01-07 15:48] Kyu commented on #1254
(Came from google, this is the second result)

That method was last supported in `netty 4.1.0.Beta4`, as you can see in https://github.com/netty/netty/commit/06217aefb753904f431e9012cf65170e7eb07fa4.

The last stable version of netty before that was `4.0.56.Final`, and the last version of AsyncHttpClient that used that version was `2.0.25`, as you can see in https://github.com/AsyncHttpClient/asyn

[2021-01-10 13:54] TomGranot commented on #1761
@hyperxpro Considering using your lib for AHC, in order to add Brotli support. If you've got a bit of time to give some pointers or your thoughts on the topic that would be awesome. If not, just a FYI that I'm considering it)

[2021-01-10 13:59] oripwk commented on #1761
Just wondering, why not use Apache [commons-compress](https://commons.apache.org/proper/commons-compress/) directly? It will spare you one additional dependency.

[2021-01-10 14:21] TomGranot commented on #1761
@oripwk There's no specific reason to use brotli4j. I did not investigate thoroughly yet - that lib just caught my eye since @hyperxpro contributed to Gatling (and the previous maintainer is the creator of Gatling).

Thanks for the heads up!

[2021-01-10 14:51] hyperxpro commented on #1761
@TomGranot My library is pretty straight forward so you will not face any difficulty while using it. Just a heads up for chunk content, you should consider using `DirectDecompress`. You can pass in chunks and get the status of decompression. If the status is `NEEDS_MORE_INPUT` then you need to aggregate chunks (up to 16 MB).

[2021-01-10 14:52] hyperxpro commented on #1761
@oripwk Commons-Compress is outdated for Brotli and it only supports decompression but `Brotli4j` supports both compression and decompression.

[2021-01-10 14:53] TomGranot commented on #1761
@hyperxpro Excellent. Will take a closer look and come back if I need anything else:)

[2021-01-10 15:10] TomGranot commented on #1761
Adding some niceties to look at later:

https://github.com/netty/netty/pull/10626
https://github.com/hyperxpro/Brotli4j/issues/2

[2021-01-11 11:50] zmarushchak-hs opened #1763 "Memory leak caused by re-scheduling CookieEvictionTask"
We are using [DefaultAsyncHttpClient](https://github.com/AsyncHttpClient/async-http-client/blob/master/client/src/main/java/org/asynchttpclient/DefaultAsyncHttpClient.java) for making calls. [CookieEvictionTask](https://github.com/AsyncHttpClient/async-http-client/blob/master/client/src/main/java/org/asynchttpclient/cookie/CookieEvictionTask.java) is started each time [DefaultAsyncHttpClient is co

[2021-01-11 19:27] TomGranot commented on #1763
@zmarushchak-hs Thanks for opening up this request! A bit of a backlog before this request, but duly noted and will circle back to investigate when time permits. Trying to onboard another person to help out at the moment, hope he can take a look to.

Feel free to ping if you don't hear back from me.

[2021-01-15 10:12] Golizart commented on #1180
Hi,
I'm getting the following exception with AsyncHttpClient sporadically
`2021-01-13 13:40:37,374 WARN i.n.u.c.DefaultPromise [AsyncHttpClient-4-29] An exception was thrown by org.asynchttpclient.netty.channel.NettyChannelConnector$1.operationComplete()
java.lang.NullPointerException: null
	at org.asynchttpclient.netty.channel.NettyConnectListener.onSuccess(NettyConnectListener.java:105) ~[async-

[2021-01-18 06:04] Golizart opened #1764 "java.lang.NullPointerException: timeoutsHolder для версии 2.10.4"
Hi,
I'm getting the following exception with AsyncHttpClient

java.lang.NullPointerException: null
	at org.asynchttpclient.netty.channel.NettyConnectListener.onSuccess(NettyConnectListener.java:105) ~[async-http-client-2.10.4.jar:?]
	at org.asynchttpclient.netty.channel.NettyChannelConnector$1.onSuccess(NettyChannelConnector.java:92) ~[async-http-client-2.10.4.jar:?]
	at org.asynchttpclient.netty.

[2021-01-18 06:16] TomGranot commented on #1764
@Golizart Thanks for reporting the issue. I've take over maintainership from slandelle, and you can feel free to tag me instead.

Can you please provide more context into the error? I got your message on https://github.com/AsyncHttpClient/async-http-client/issues/1180 and there's no enough context there too.

A reproducer, as slandelle requested in the previous issue, can be useful here too.

[2021-01-18 08:22] Golizart commented on #1764
This problem is reproduced in production 1-2 times a day, I only see this error in the logs. How to reproduce it I do not know.

[2021-01-21 05:26] lakxtxue opened #1765 "io.netty.util.IllegalReferenceCountException: refCnt: 0"
setResponseBodyPartFactory set to ResponseBodyPartFactory.LAZY causes io.netty.util.IllegalReferenceCountException: refCnt: 0

The result of my test is this, if configured as ResponseBodyPartFactory.EAGER, normal results can be obtained

This is my sample code：
`public static void main(String[] args) throws IOException {
    try (AsyncHttpClient asyncHttpClient = asyncHttpClient()) {
      asyncHt

[2021-01-22 13:55] TomGranot opened #1766 "Explore using the upstream implementation of ChannelPool instead of AHC's one"
`ChannelPool`, as it is [implemented in AHC](https://github.com/AsyncHttpClient/async-http-client/blob/758dcf214bf0ec08142ba234a3967d98a3dc60ef/client/src/main/java/org/asynchttpclient/channel/ChannelPool.java#L21), predates the [Netty implementation](https://netty.io/news/2015/05/07/4-0-28-Final.html) introduced in 2015 (see this [AHC user guide entry](https://asynchttpclient.github.io/async-http

[2021-01-22 13:58] slandelle commented on #1765
`ResponseBodyPartFactory.LAZY` is a kind of "hidden" feature that was introduced for the sake of Gatling back when it was still using it. It's intended to be used with the listener API, not the Future one.
Don't use it unless you really know what you're doing.

IMHO, that's something that should be removed.

[2021-01-22 14:17] lakxtxue commented on #1765
I am still a newbie to async-http-client, should I close this issue now?

[2021-01-22 18:46] TomGranot commented on #1765
@slandelle Adding a ticket for that.

@lakxtxue Yep, closing.

[2021-01-22 18:46] #1765 closed

[2021-01-22 18:47] TomGranot opened #1767 "Remove ResponseBodyPartFactory.LAZY"
Following https://github.com/AsyncHttpClient/async-http-client/issues/1765#issuecomment-765416561.

[2021-01-23 04:06] lakxtxue commented on #1767
Hello,
I found that ResponseBodyPartFactory.LAZY avoids copying data to java heap compared to ResponseBodyPartFactory.EAGER.

It should be useful in some scenarios. I think it should be good for performance. Compared with other java http client, it is also more flexible, but my usage is wrong. Could you please consider not deleting ResponseBodyPartFactory.LAZY? And consider how to use the prompt e

[2021-01-23 07:57] TomGranot commented on #1767
@lakxtxue Sure, I'll take a closer look at when and how it's useful before removing it.

This is lower on the TODO list anyhow, so it's not expected to be removed anytime soon. :)

Thanks for chiming in!

[2021-01-27 07:47] aqingsao opened #1769 "NullPointerException"
I've been using async-http-client for a long time, it works fine in many cases even at a high QPS of 100K.
But recently some errors happen when calls to a specific api(nothing special, just a POST http with Content-Type: multipart/form-data), lots of exceptions are thrown at a low QPS of 800, and below is the stack trace:

`java.lang.NullPointerException: null
        at org.asynchttpclient.netty.

[2021-01-27 20:26] TomGranot commented on #1769
Hey @aqingsao - new maintainer here, still learning the ropes.

Can you show the exact code you used + mention some specs? Might help the investigation.

[2021-02-01 09:51] aqingsao commented on #1769
Hi TomGranot,
Glad to see u and welcome.
I use AsyncHttpClient to build our load test platform, it works fine in most cases.
But in a few cases, some exceptions(NullPointerException) are thrown at about 0.1% rate or even 30% in a very special case.
Actually these case are just normal http POST requests of type 'form-data'.

Some codes are pasted in below but I don't think it provides any clues.

`

[2021-02-01 13:25] rachidbm commented on #1769
I think I have the same issue. We have a unit test where we simulate a "connection reset by peer" which worked fine on async-http-client version 2.12.1
But when updating to version 2.12.2 we got this NPE:
[code]

For what I've seen in `NettyRequestSender.abort()` there is this line:
[code]
and `future.channel()` == null

[2021-02-05 15:17] rachidbm commented on #1769
Some extra information.
Before suspecting async-http-client we downgraded Netty to `4.1.53.final`, but then we still got the same problem.

We could reproduce it at our side with the following unit test which uses WireMock:

[code]

I took a quick look in the source code, but couldn't directly find a way to create a test case simulating a "connection reset by peer" in this repo.
@TomGranot let me

[2021-02-08 05:23] Taymindis opened #1770 "Is this Non-Blocking IO Http Client"
Hi, Is this a  `Single Thread non-blocking IO` HTTP Client?

[2021-02-09 11:20] dzharikhin commented on #1769
Hi, I extracted resetting server logic from tests I have. Here's simplest test
[code]

[2021-02-09 20:20] rachidbm commented on #1769
That certainly helps @dzharikhin!
I molded your code into a fork in this branch: https://github.com/AsyncHttpClient/async-http-client/compare/master...rachidbm:2.12.2
There I see the NPE, which I don't see when running the same test https://github.com/AsyncHttpClient/async-http-client/compare/master...rachidbm:2.12.1

[2021-02-10 16:13] ZhezherP opened #1772 "High CPU consumptions with Java 11"
Hi! I have very high CPU consumptions with Java 11. It's ok with java 8-9-10. I've created simple program to reproduce this bug. Test ran with oracle and openjdk.
Program: https://github.com/ZhezherP/AHC-java-11-bug

VisualVM dumps and screenshots are attached.
[snapshot-1612971737998-example-java11.nps.txt](https://github.com/AsyncHttpClient/async-http-client/files/5959534/snapshot-1612971737998-

[2021-02-12 06:10] rgupt102 opened #1773 "Websocket connection is lost without notifying client"
I am using async http websocket client to send requests and I have observed many times that connection is lost without calling onClose callback. websocket stays open (websokcet.isOpen still true)but no requests are sent to server. A connection interrupt doesn't close the Netty websocket and doesn't trigger the disconnected event.
It is difficult to catch the disconnection , so i am not able to ret

[2021-02-24 07:15] vito-c commented on #1682
@TomGranot  I'm also noticing this for other Socks 5 proxy traffic

[2021-02-25 07:19] andres-de-biase-wcar opened #1775 "Bump netty version to 4.1.59.Final"
Vulnerabilities have been found in netty version 4.1.53. (Currently used). Please see [https://nvd.nist.gov/vuln/detail/CVE-2021-21290](https://nvd.nist.gov/vuln/detail/CVE-2021-21290)

[2021-03-02 04:41] NagaKatreddi commented on #1739
Looks  like in the handleHttpResponse method in HttpHandler class, one can add something like below:

[code]

[2021-03-11 20:19] jsanders67 opened #1777 "Closing channels on request streaming failures"
Im using the reactive streams mode of the AsyncHttpClient library and have uncovered some behavior I feel may be incorrect.

Take the following example:
1. User creates a request and specifies the body as a `Publisher<ByteBuf>` ([code](https://github.com/AsyncHttpClient/async-http-client/blob/12f4b2a5654ec7427a10c049d06e3f05dac41f1e/client/src/main/java/org/asynchttpclient/RequestBuilderBase.java#

[2021-03-11 20:20] jsanders67 commented on #1777
Given #1096 is still open, Im assuming HTTP2 is still not supported

[2021-03-11 22:58] Christian-health opened #1778 "Too many thread waiting,low send speed,and oom . Need help,thanks!"
**Problem Suspect 1**

188 instances of "io.netty.channel.nio.NioEventLoopGroup", loaded by "java.net.URLClassLoader @ 0x9707a360" occupy 931.71 MB (58.73%) bytes.

Keywords
io.netty.channel.nio.NioEventLoopGroup
java.net.URLClassLoader @ 0x9707a360

Details »

  **Problem Suspect 2**

20 instances of "io.netty.buffer.PoolArena$HeapArena", loaded by "java.net.URLClassLoader @ 0x9707a360" occupy 30

[2021-03-12 01:10] pramodanarase commented on #567
Version - 2.10.2
When i use ThrottleRequestFilter with maxConnections and  maxConnectionsPerHost getting Too many connections error

All in all the ThrottleRequestFilter only works while maxConnections and maxConnectionsPerHost are not enable.
Is this beheavor the feature or a bug?

[2021-03-15 12:08] doom369 opened #1779 "NPE in Channels.getAttribute() method"
Latest async verison:

[code]

[2021-03-15 12:14] doom369 commented on #1779
@TomGranot most likely this is a typo in `NettyRequestSender.abort`.

Now:

    if (channel != null) {
      Object attribute = Channels.getAttribute(future.channel());
      if (attribute instanceof StreamedResponsePublisher) {
        ((StreamedResponsePublisher) attribute).setError(t);
      }

Should be:

    if (channel != null) {
      Object attribute = Channels.getAttribute(channel);

[2021-03-15 12:18] doom369 commented on #1779
Looks like a duplicate of https://github.com/AsyncHttpClient/async-http-client/issues/1769
@TomGranot could you please merge the related PR.

[2021-03-15 12:44] TomGranot opened #1780 "To all who had issues and PRs in the last while"
Hey all,

Apologies for being away - work came calling and I lost track of things in the last ~1.5 months.

Expect issues answered (albeit not necessarily resolved) and PRs reviewed (albeit not necessarily merged) in the upcoming weeks (most likely will get to some of them this weekend).

Having said that - I still feel that the priority should be on finishing the CI (https://github.com/AsyncHttpC

[2021-03-15 19:27] doom369 commented on #1780
Hello. Sorry, but I don't understand how discussions and CI could have more priority over the reported issues (https://github.com/AsyncHttpClient/async-http-client/issues/1779 and https://github.com/AsyncHttpClient/async-http-client/issues/1769) when it was encountered by multiple different teams. Especially when the PR with the fix is provided, the fix is super simple and the test is provided. Al

[2021-03-16 09:10] hysterus1 commented on #1775
Pr is open: https://github.com/AsyncHttpClient/async-http-client/pull/1781

[2021-03-18 14:13] YurZir opened #1783 "Transfer-Encoding: chunked in response header and channel reuse"
Hello,

we face the following issue with AsyncHttpClient. When the response is chunked, using of the open channel from the previous request does not work and runs into timeout delaying the HTTP request.

Situation:

2021 03 18 09:35:42#+00#DEBUG#org.asynchttpclient.netty.channel.NettyConnectListener##xxx#AsyncHttpClient-113-4###ed86a5e0a#na#na#na#na#Using new Channel '[id: 0x6b4eed08, L:/SOURCE_IP

[2021-03-26 07:51] YurZir commented on #1783
Appears that the problem is not related to the chunked HTTP response. The issue seems to be rather related to the fact that subsequent processing of the first request blocked the thread and reuse of an open channel is somehow bound to the Java thread that opened this channel. Not clear why it happens, but decoupling of the subsequent processing from the same thread where the HTTP request was done

[2021-03-27 15:04] TomGranot commented on #1779
Fixed by #1771

[2021-03-27 15:04] #1779 closed

[2021-03-27 15:32] TomGranot commented on #1780
@doom369 You are right and wrong, IMHO.

First - regarding the PR in question - I did not pay enough attention to it, it is indeed very simple and was merged now.

On the other hand, this is an open-source project. This means that the number one resource we are missing is developer time.

I can't rightfully ask someone to contribute their time (without payment) to build the _infrastructure_ for th

[2021-03-27 15:32] #1780 closed

[2021-03-27 15:42] doom369 commented on #1780
I'm not saying automation and docs are not important. They are. And you're doing the right job here. Yes, it's open-source and you don't have to fix, review, or even merge the PRs. However, if you're willing to maintain this repo you just can't ignore the bugs that are actually there if you're a maintainer now.

[2021-03-27 16:01] TomGranot commented on #1780
That is not my intention - it was a specific oversight on my end.

I feel you - it's hard out there when relying on open source stuff.

I think we understand each other, though;)

[2021-03-27 17:13] TomGranot commented on #1775
Updated to .60.

[2021-03-27 17:13] #1775 closed

[2021-03-29 05:25] xingweitian opened #1784 "Insecure cipher and hash function usage"
Hi there, we found that the following places using the insecure cipher and hash functions:

[code]

[2021-03-31 05:37] rachidbm commented on #1769
Thnx for merging @TomGranot, this issue can be closed now.

[2021-03-31 08:25] TomGranot commented on #1769
@rachidbm Excellent, closing this as well.

[2021-03-31 08:25] #1769 closed

[2021-03-31 21:32] TomGranot commented on #1745
@RahulKushwaha Ping on this if you're still interested:)

[2021-04-06 08:17] diemol opened #1785 "Thread pool using memory"
Hi,

We are using this http client at the Selenium project, we switched to Netty and we found this client's implementation suitable for what we want to do.

When doing requests, we block on the future because that is the nature of WebDriver commands, they basically follow a request-response pattern before the client sending requests can move to the next step.

We saw that memory usage went up and

[2021-04-14 17:21] TomGranot commented on #1741
@mayank-mundhra-2012 Can confirm I finished a (very rough) first draft here:
https://github.com/AsyncHttpClient/async-http-client/pull/1768

Please note that there are still _a lot_ of TODOs left. It's a start:)

[2021-04-14 17:21] #1741 closed

[2021-04-21 13:34] beckyconning commented on #1660
Is this benign or could it cause re-sending / receiving data that has been sent / received before?

[2021-04-21 13:52] dwalend commented on #1660
Becky - I haven't observed that, but haven't chased it either. Anecdotally I've not observed a request recovering on its own. (Not benign - "bounded" maybe. Incidents of the bug do tend to clump together.)

(Our data model handles 0-or-more gracefully (0 is problematic, 2 or more is wasteful but otherwise fine). We'd have to hunt for that aspect problem to observe it. We work around the bug by obs

[2021-04-23 14:27] RussiaVk opened #1789 "NoSuchMethodError: 'io.netty.bootstrap.AbstractBootstrap io.netty.bootstrap.Bootstrap.channelFactory(io.netty.channel.ChannelFactory)'"
[code]

[2021-04-28 07:12] RussiaVk commented on #1789
maven conflict

[2021-04-28 07:12] #1789 closed

[2021-04-29 14:55] liriarte opened #1790 "Is there any utility class to create in a immediate Future for tests?"
Maybe something similar to Guava's [Future](https://guava.dev/releases/20.0/api/docs/com/google/common/util/concurrent/Futures.html#immediateFuture-V-)

[2021-05-04 06:29] CatalinAdlerDF commented on #1724
Hi,

This is very much still relevant. As of now, only the AWS http client does async dns resolution afaik.
As with all async, such a change requires handling timeouts properly: the dns resolution process should be under the request timeout.

Having blocking code prevents decent scalability and creates weird thread starvation issues that are not worth fighting.

[2021-05-04 18:33] n-miles commented on #1724
The main issue with doing this is that there just isn't a mechanism in Java to do async lookups. Netty has resolvers that will hit DNS servers in an async fashion, but presumably most users want to use the normal OS mechanism. The closest approximation I can come up with is a threadpool doing blocking DNS lookups and just not blocking the calling (Netty) threads.

[2021-05-04 18:47] CatalinAdlerDF commented on #1724
The .net guys are doing async dns resolution on linux and windows, so the
api is probably there.

On Tue, May 4, 2021, 20:34 Nathan Miles ***@***.***> wrote:

[2021-05-05 15:44] n-miles commented on #1724
The APIs are there in Linux and Windows at the OS layer, yes. But I don't believe those APIs exist on all OSes that Java supports, so there is not a mechanism to do that in Java.

[2021-05-05 15:56] CatalinAdlerDF commented on #1724
Might not be, but some ways to make this possible, best effort style, is valuable.

[2021-05-05 19:04] n-miles commented on #1724
If you figure out how to do non-blocking DNS lookups using the OS mechanism on the JVM please tell me how you did it

[2021-05-05 19:31] CatalinAdlerDF commented on #1724
Don't get your hopes up; i/m borderline giving up on building web servers on the jvm due to such issues; just too much hassle.

I'm on micronaut which uses netty under the hood, which ca do async dns across the jvm/linux os i care ab (which are always the latest); hopefully that is easier to implement.

Thanks for looking into this.

[2021-05-06 04:15] jilen commented on #1785
There is a property `io.netty.allocator.useCacheForAllThreads` which is default true. You might take a look at it.

[2021-05-11 03:12] asyougo opened #1791 "Does AHC support decompressing body by gzip or deflate automatically?"
When the response has a header named Content-Encoding, does AHC support decompressing body by gzip or deflate automatically? If not, how can I implement the function of decompresssing the body after receiving response?

[2021-05-14 01:57] jilen commented on #1791
It is done automatically, you could test it against   https://httpbin.org/#/Response_formats/get_gzip

[2021-05-18 08:46] jafemo opened #1792 "Every time I pull. fetch or push, I get the TLS error"
![Screenshot_1](https://user-images.githubusercontent.com/16082387/118620736-134aaa00-b7c6-11eb-990a-3841d999391a.png)

[2021-05-19 06:51] xuelang0823 opened #1793 "can i cancel SSL verification?if so,how should i config DefaultAsyncHttpClientConfig"

[2021-05-19 07:03] xuelang0823 commented on #1793
can i cancel SSL verification?if so,what should i do

[2021-05-27 02:45] jingke commented on #1772
do we know what's the reason for this?

[2021-06-01 09:22] DanielSaunders commented on #1772
This isn't super helpful, more of a "me too," but I seem to be encountering the same issue on Java 11. I have a Play app, so perhaps there is some interaction there. However, I also am using Java 11 and see profiles that look very similar to yours, where the `AsyncHttpClient` appear to consume a huge amount of CPU. Have you found any solution to the problem?

[2021-06-02 14:30] ZhezherP commented on #1772
@DanielSaunders no, still using java10

[2021-06-11 03:00] asyougo commented on #1791
It's useful.Thank you very much!

[2021-06-15 11:33] sveluvil opened #1794 "Requests getting timed out because the threads assigned to channels are busy"
Hi,

Requests are getting timed out while waiting for the threads assigned to a channel because the thread is busy executing some other work.

Below is a simple camel route with a processor to imitate a long running activity by sleeping thread, camel-ahc component, and a processor to log the output. The above steps are running in a loop for two times. 

Direct(source) -> Loop (2) -> 
 

[2021-06-28 17:05] n-miles commented on #1794
Am I interpreting this correctly in thinking that you're blocking a Netty thread on purpose?

[2021-07-19 22:14] A248 opened #1796 "Automatic module name regression"
https://github.com/AsyncHttpClient/async-http-client/pull/1664 looks like it added an automatic-module-name for use with JPMS on Java 9+.

However, the [2.12.3 jar on maven central](https://mvnrepository.com/artifact/org.asynchttpclient/async-http-client/2.12.3) doesn't declare this manifest entry.

As a result, attempting to use async http client in a modular application doesn't succeed.

[2021-07-19 22:17] eddified opened #1797 "java.lang.Error: Maximum permit count exceeded"
We're seeing "java.lang.Error: Maximum permit count exceeded" all the time on our prod deployment.

Using version 2.12.1.

Here are two different instances of the error:
[code]
and
[code]

I'm not sure if this has anything to do with it, but we've "monkey-patch"ed `org.asynchttpclient.extras.rxjava2.maybe.AbstractMaybeProgressAsyncHandlerBridge`, by duplicating the file and *adding* the following

[2021-07-19 22:18] A248 commented on #1796
To be precise, I am not sure there *ever* was a stable module name in any of the published jars. Version 2.10.3 doesn't declare a stable module name either.

[2021-07-21 17:11] eddified commented on #1797
It seems this issue was caused by the monkey patch. Closing.

[2021-07-27 07:45] jannal commented on #1793
@xuelang0823
[code]

[2021-08-11 02:14] eddified commented on #1797
We're seeing this again, even after removing our monkey patch.

[2021-08-11 02:16] eddified commented on #1797
Using version 2.12.3, the problem still occurs.

[2021-08-25 12:05] deepaktaker opened #1799 "maxRequestRetry documentation is not clear"
maxRequestRetry documentation says that "number of time a request will be retried when an {@link java.io.IOException} occurs because of a Network exception"

This is a high level information and there is no clear information on when a retry would occur whether retry is performed when connection timeout occurs or when readtimeout occurs etc.

can someone provide information on the exact scenarios w

[2021-09-04 15:44] pcg76 commented on #1709
Hi, I need this reconnect feature for camel route. May I know where to look at and hopefully resolve this issue. Thanks!

[2021-09-06 22:04] patpatpat123 opened #1800 "Async-http-client to a server that is 1) requires client to present client certificate 2) server is HTTP2 3) server is TLSv1.3"
Hello Team,

First of all, a big thanks for this http client, great project there!
I am enjoying using this http client, used. it to send request to some servers, and it is easy to use, efficient.

Now, I need to send to another server, and this other server is a bit problematic.
1 - this server requires all the clients to present the client certificates. The server will do some kind of OU CN extr

[2021-09-15 11:48] ftomassetti commented on #1576
Getting access to fragments would be useful also in my use case. I am basically creating a proxy for OAuth2 authentication with google and google return the access token as a fragment

[2021-09-21 14:34] n-miles commented on #1800
AHC does not support HTTP2

[2021-09-22 04:02] patpatpat123 commented on #1800
Is it possible to have it as enhancement please?

[2021-10-01 11:14] avolokhov opened #1801 "Expose file:line where request was issues and request metadata in error class on .execute() error"
When http error happens (e.g. read / connect timeouts) it's always useful to know what part of code issued a request and what was it trying to query. Adding this information to AHC errors will give a lot of value and eliminate a need in clumsy catch-wrap-rethrow logic around every http call.

[2021-10-01 11:30] avolokhov commented on #1801
Apart from adding (file,line) to every `HTTPClientError`, I suggest we add the following data to these error types:
[code]

[2021-10-01 11:33] avolokhov commented on #1801
Wrong AsyncHttpClient, sorry.

[2021-10-01 11:33] #1801 closed

[2021-10-14 15:17] ronanwatkins opened #1802 "Denial of Service (DoS) vulnerability in 4.1.60.Final"
Recommend upgrading `netty.version` to `4.1.68.Final` in the pom.
It's causing snyk to report high vulnerabilities from projects using this dependency.

More details: https://app.snyk.io/vuln/SNYK-JAVA-IONETTY-1584063

[2021-10-29 10:16] zender-projects opened #1805 "the doc is very very bad!"
the doc is very very bad! give up.

[2021-11-04 08:54] michedsa opened #1806 "websocket via SOCKS proxy"
Hi, I implemented this part of code to connect to a Websocket via SOCKS proxy but the websocket returned is always null. Is it supported?

ProxyServer.Builder socksProxy = Dsl.proxyServer(socksAddress);
socksProxy.setProxyType(ProxyType.SOCKS_V5);

        Builder config = Dsl.config();
        DefaultAsyncHttpClientConfig.Builder as = config.setProxyServer(socksProxy.build());
        AsyncHttpCl

[2021-11-04 13:09] dari0g commented on #1802
Is there an update on this issue?

[2021-11-04 14:14] ronanwatkins commented on #1802
Unfortunately, it seems like this project isn't getting much attention anymore. The last commit was 7 months ago and the previous maintainer tweeted that he doesn't have time to maintain this project anymore.

[2021-11-24 08:57] jilen opened #1807 "Support a Publisher<ByteBuffer> multipart/part."
Currently only `InputStream`  or `File` can be used for streaming request entity.

[2021-12-10 07:01] hujunzhong opened #1808 "DefaultChannelPool finding memory leak"
当请求很多不同的地址，而且地址经常变化，DefaultChannelPool只回收了IdleChannel，但partitions的key,和ConcurrentLinkedQueue都是没有回收的。以下截图是我用老的ning http的内存状态，最新的DefaultChannelPool也存在同样的问题

[2021-12-10 07:01] hujunzhong commented on #1808
![image](https://user-images.githubusercontent.com/3366485/145531361-dcc4c86b-2f85-4e19-b86e-2b35df06dfa6.png)

[2021-12-15 11:31] AnuragYad opened #1809 "Failed getting data from async endpoint: java.io.IOException: Pipe closed"
Getting this for large file approx 530 mb

[2021-12-28 10:18] g2vinay opened #1810 "CVE in Netty Dependencies being used."
Hello,

Following High Severity CVEs are present in the Netty Dependencies being used by async-http-client:2.12.3

CVE-2021-37136 https://nvd.nist.gov/vuln/detail/CVE-2021-37136
(BDSA-2021-2832) and CVE-2021-37137 https://nvd.nist.gov/vuln/detail/CVE-2021-37137
(BDSA-2021-2831)

Upgrading Netty Dependencies to version 4.1.72.Final should resolve the issue.

This issue is currently impacting our cu

[2022-01-06 10:07] deepaktaker opened #1811 "Binary file upload fails to the target system"
Binary file upload fails to the target system because the target system doesn't understand Transfer-Encoding: chunked header which is sent by default by netty is bundled by camel-ahc.
The target system expects the Content-Length header but there is no way to disable camel-ahc from sending data in chunks for binary content.
I think this is a big issue. at least there should be a property to enable

[2022-02-21 01:44] tormentous opened #1815 "how to obtain Socket instance?"
as the title says

[2022-03-15 08:06] YANGJINJUE opened #1818 "how to use http2.0?"
<img width="233" alt="image" src="https://user-images.githubusercontent.com/32013488/158332896-ec1eaf91-9044-49c7-a28c-dacfc1850130.png">
I have a https server,use async-http-client send https request but it is http1.1,
use curl send request,it it http2.0

[2022-04-15 01:27] jingke opened #1819 "netty-reactive-streams 2.0.5 has security issue, how to replace this or upgrade this?"
netty-reactive-streams has security issue, how to replace this or upgrade this?

[2022-05-10 15:31] rossabaker commented on #1660
Sorry, I cleaned up my GitHub a while back, and don't have that repo anymore.

[2022-06-02 14:52] andresetevejob commented on #1811
can you show your code

[2022-06-04 06:08] deepaktaker commented on #1811
The issue was i camel code which is now fixed https://issues.apache.org/jira/browse/CAMEL-17470

[2022-06-04 06:08] #1811 closed

[2022-07-08 08:56] kpartl opened #1820 "DecompressionException for some correctly gzipped content"
I get `io.netty.handler.codec.compression.DecompressionException: Input is not in the GZIP format` from some urls when header `accept-encoding: gzip` is used. When I turn decompression off and decompress the content myself using `java.util.zip.GZIPInputStream`, there is no problem with decompression.
To turn decompression off I use
[code]
Examples of url where I got `DecompressionException`:
https

[2022-07-12 08:47] russellyou opened #1821 "Expire channel when its remote address not valid after remote DNS update"
At the moment a channel will expire when either

1 idleTimeoutExpired
2 channel closed by remote end
3 channel TTL expired

But there is one special case making channel not usable. We use AHC to connect to a service behind AWS ALB. When a new deployment happens, the DNS of service will be changed targeting new deployed vesion . But for a period of time(say 1 hour), old version and new version serv

[2022-07-31 07:39] swasti7 opened #1822 "Huge delay in request processing when using AsyncHttpClient"
I created a simple HTTP request using the AHC client.  I am seeing it is taking around 680ms for an endpoint which normally takes 50ms (verified by using curl) . What is the reason of such large response time with AHC client. Do i need to set something before using AHC client. Not sure what I am missing. Note that I am only sending single request a time.

[code]

[2022-09-08 09:05] fredsted opened #1823 "What is causing AHC/2.1 to create mass amounts of HTTP connections?"
Hello

I'm the founder of [Webhook.site](https://webhook.site), a tool for testing webhooks and HTTP requests.

I've found that a lot of users connecting with the `AHC/2.1` user agent seem to create mass amounts of HTTP connections (seen with `netstat`), in the order of thousands, or tens of thousands, per IP address. These connections stay open for a while. It seems to be happening for different

[2022-09-08 09:58] fredsted commented on #1823
Thanks for the quick response @slandelle

One thing I'm noting that this issue is specific to the AHC/2.1 software. I'm not seeing this issue on any other HTTP clients. Webhook.site is used by hundreds of thousands of users every month and our customers are using all sorts of HTTP clients.

I don't believe that this is caused by ill intentions, but rather that the AHC/2.1 software perhaps has defa

[2022-09-08 10:20] slandelle commented on #1823
Yeah, one bad behaving user is enough.
Also, AHC is pretty popular amongst web crawlers and those people tend to go through public proxies list to hide their deeds.

Honestly, I don't think so. Even if these users don't really mean to harm you, they could be misusing this library. Many times I've seen people creating one client instance per request (first error) and not close it (second error).

A

[2022-09-08 10:20] #1823 closed

[2022-09-08 10:31] fredsted commented on #1823
Thanks again, I guess if the project is dead, the issue won't be fixed anyways.

I'll be adding a note in our documentation that AHC/2.1 is broken should be avoided.

[2022-09-08 10:37] slandelle commented on #1823
No, AHC is not broken. The way some clueless people use it is.

[2022-09-14 07:34] henricook commented on #1660
I've seen this issue today @Squiry  - is your fix still working out well for you? Should we raise a PR?

[2022-09-14 19:15] Squiry commented on #1660
This fix does work in my case. I will create a PR, but I'm not sure about state of this project tbh.

[2022-10-04 05:30] suyash248 opened #1825 "Too many ACH threads"
I'm creating 1 ACH client per service and I can see that for each service, there are 256 ACH threads + 2 timer threads getting created. But as per the doc, there should be 2 * 16 = 32 ACH threads + 1 timer thread.
I'm setting keep-alive as true,

What's the reason behind too many threads? am I missing something?

Configuration -
OS: Linux
JDK: 1.8
ACH Version: 2.8.1
CPU cores: 16

[2022-10-05 17:06] #1825 closed

[2022-10-05 17:09] suyash248 commented on #1825
In my case, the docker image was consuming all the cores(64 cores) of the physical machines instead of the limit provided by us(i.e. to use 4 cpu cores). Changing the docker image solved the problem.

[2022-10-14 18:28] saurabh782 opened #1826 "Request times out after being sent in AHC"
Hi everyone,
I am using the org.asynchttpclient library version(2.12.3).I am using a service which makes a lot of downstream api calls to different services.Earlier I was using a single AHC object instance for all the downstream service calls with (maxConnectionPool=1000) and (maxConnectionsPerHost=500) with keep-alive=true. What happened was the requests were being sent from my client service to

[2022-11-16 19:54] dgolombek commented on #1761
Any chance this could be revisited? [It look like Netty 4.1.64.Final supports Brotli](https://github.com/netty/netty/pull/10960), and there are MANY reasons to update the default version of Netty up to a more recent version.

[2022-11-16 20:05] hyperxpro commented on #1761
Will do a PR by weekend but looks like AHC is not maintained anymore.

[2022-11-16 20:48] oripwk commented on #1761
Sad to see the project is not maintained anymore. It's the only async HTTP client in Java and it's used by a lot of projects. It's kind of unbelievable.

[2022-11-16 20:50] hyperxpro commented on #1761
I'm reaching out to @TomGranot to become AHC maintainer and revive this project.

[2022-11-16 20:51] oripwk commented on #1761
@hyperxpro That's great. Wish you the best of luck!

[2022-11-22 13:42] lggomez commented on #1094
I can attest that the current SPNEGO workflow is currently broken, as the ProxyUnauthorized407Interceptor doesn't trigger due to a bug (I suspect around [here](https://github.com/AsyncHttpClient/async-http-client/blob/main/client/src/main/java/org/asynchttpclient/netty/request/NettyRequestSender.java#L290-L291) and [here](https://github.com/AsyncHttpClient/async-http-client/blob/main/client/src/ma

[2022-11-22 16:00] hyperxpro commented on #1826
I'm investigating this.

[2022-11-23 14:07] solvip commented on #1826
This is also an issue with 2.10.4.

[2022-11-30 19:05] chandrav723 opened #1838 "Request compression support in async-http-client"
Hi,

Does async-http-client supports sending compressed(compression does by algo mentioned in header 'content-encoding') request to server ?
Can you share the code snippet how to add the support of request compression?